<%- include("partials/header"); -%>


<section class="banner2">
    <div class="main-content-container2">
            <div class="banner-content2"> 
                <div class="banner-rule2"></div>
                <h1>Title</h1>
            </div>
    </div>
    <div class="banner-gradient2"></div>
</section>
<div class="main-contant">
    <div class="about-content-holder">
        <div class="index"><span class="trail-begin"><a href="/" title="The University" rel="home">Home</a></span>
            <em class="sep"></em> <a href="/about" title="About">About</a>
            <em class="sep"></em> <span class="trail-end">Careers</span>
       </div>
       <div class="main-text">
            <h2 ><strong>The mission of The University is:</strong></h2>
            <ul>
                <li>To offer a university-level liberal arts and science education which is Scripturally directed and explores the relation
                     of faith, learning, and living from a Reformed Christian perspective;</li>
                <li>To support research and creative endeavor in this context.</li>
            </ul>

            <h3 ><strong>Central to this mission are the following objectives:</strong></h3>
            <ul>
                <li>To advance knowledge through excellence in teaching and in scholarship;</li>
                <li>To be an academic community in which faculty, staff, and students can develop intellectually, socially and spiritually;</li>
                <li>To equip students for lives of leadership and service under the Lordship of Jesus Christ;</li>
                <li>To reach out through academic service to society;</li><li>And in all these things to glorify God.</li>
            </ul>
            
            <h2 ><strong>The vision of The University is: </strong></h2>
            <p>To be internationally engaged as an excellent liberal arts and sciences university that is unabashedly Christ-centred
                 and prepares students to reflect a distinctive worldview in any vocation and place they are called.
                </p>
    
            <h2 >What do we offer?</h2>
            <p>Our academic programs in the fine arts, humanities, sciences and social sciences, as well as in business and teacher
                 education, are taught in the context of a commitment to a comprehensive vision of Christ’s lordship and redemptive
                  work. We seek to give expression to this commitment in all the programs and support services of the university.
                </p>
            <p>Small classes and a low student-faculty ratio allow students to be mentored by faculty. Experiential and cooperative
                 education programs enrich the educational experience, while off-campus programs allow students to experience different
                  cultures. Professional and dedicated staff encourage student development in a variety of co-curricular programs.
                </p>
            
            <h2 ><strong>Institutional Purpose</strong></h2>
            <p>The overall purpose of the institution is to equip students to fulfil their callings in the Kingdom of God
                 by providing them with a post-secondary education that is grounded in Scripture. Such a Christian education will enable students:
                </p>
            <ul>
                <li>to discern the biblical basis of a Christian worldview,</li>
                <li>to translate this worldview into a systematic framework for academic work,</li>
                <li>to acquire an understanding of the profoundly religious nature of cultural formation,</li>
                <li>to acquire an historical awareness of the conflicting spiritual roots of contemporary culture, and</li>
                <li>to apply and develop these insights in the various liberal arts and science and in an area of disciplinary specialization.</li>
            </ul>
            <p>Such an education will help strengthen students’ commitment to the Christian faith and better prepare them to exercise
                 their God-given talents and abilities in the full range of life’s callings and vocations. Students will be enabled to
                  understand the times in which they are living and the direction in which their society is headed and to strive for the
                   furtherance of the Lordship of Christ in a life of service to God and their neighbour.
                </p>
            <p>The framework for this Scripturally-directed program of education is delineated in the Statement of Basis and Principles,
                 which is part of the charter of The University. It is given expression in a number of Educational Guidelines, and a
                  fuller expression of the identity and purpose of The University can be found in the booklet “<a href="" target="_blank">The Cross and our Calling</a>“.<br><a name="statement"></a>
                </p>
            
            <h2 ><strong>Statement of Basis and Principles</strong></h2>
            <p>Our supreme standard is the Bible. These Scriptures, both Old Testament and New, reveal some basic principles relevant to
                 education, which we affirm:</p>
            <ul>
                <li><strong>Scripture:</strong> The Scriptures are the written and inspired Word of God, the infallible and authoritative rule of faith for the direction of the whole of life.</li>
                <li><strong>Creation:</strong> God created and structured the universe in all its many ways by His Word. The meaning of creation is focused in man, God’s image-bearer, with whom He established a special covenant relationship in Jesus Christ.</li>
                <li><strong>Sin:</strong> Man’s disobedience, which brought God’s curse upon all mankind, alienated man from his Creator, himself, his fellow man and the rest of the creation; distorted his view of the meaning and purpose of life; and misdirected human culture and learning.</li>
                <li><strong>Redemption:</strong> Christ, the Word of God incarnate, is the only The, the Renewer of our whole life. He restores man and the rest of the creation to God and calls man back to his God-appointed task in the world.</li>
                <li><strong>Human life</strong>: Man is by nature a religious being. All of human life, including educational work, must be understood as a response to the one true God. Consequently, man serves either the Lord or a god of his own making.</li>
                <li><strong>Knowledge:</strong> True knowledge of God, ourselves, and the rest of the creation is made possible only by means of a true faith in Jesus Christ, in whom are found all the treasures of wisdom and knowledge. True knowledge is attained only when the Holy Spirit enlightens people’s hearts by the integrating Word of God and sets them in the truth. However, by God’s gracious providence after the fall, those who reject the Word of God do provide many valuable insights into the structure of reality.</li>
                <li><strong>Teaching and Learning: </strong>In the context of their scholarship, the instructors at The University are called to lead students toward a deeper understanding of God’s world and its history and to help them reach a cultural maturity grounded in biblical faith. In order to carry out this calling, the instructors and students should endeavour to discover God’s laws and the structures of the creation so that the students may effectively take up their specific responsibilities and vocations in a way that will further the coming of the Lord’s Kingdom.We believe that this Statement of Basis and Principles is wholly in harmony not only with Scripture but also with the historic creeds of the Reformation.</li>
            </ul>
            <p><em>(This statement in its original form is a founding document adopted by the institution’s membership in 1981. All references to
                 “man” are intended to be gender inclusive.)<br></em>
                </p>
            
            <h2 ><strong>Educational Guidelines</strong></h2>
            <p>In all courses students:</p>
            <ul>
                <li>should receive instruction which meets high academic standards, both in the level of understanding which is demanded and in the range of material covered</li>
                <li>must attain a good understanding of the basic themes of biblical revelation, especially the all-embracing scope of creation, fall, and redemption</li>
                <li>should learn the rudiments of a philosophical frame work which is shaped by a biblical worldview and gives some perspective on the interrelatedness of academic disciplines</li>
                <li>should gain a basic understanding of the main historical movements of the West, with particular sensitivity to the variety of competing religious worldviews which have gone into the making of contemporary North American and, specifically, Canadian society</li>
                <li>develop a sensitivity to the foundational questions in their fields, and be able to relate them positively to a Christian philosophy and worldview</li>
                <li>acquire some critical familiarity with the main competing schools and trends in their disciplines, both past and present</li>
            </ul>
            <p>Students should develop a well-informed and critical awareness of the main features of contemporary Canadian society, and be able to
                 relate their academic studies to a future vocation of Christian service in our society.
                </p>
            
            <h2 ><strong>Identity</strong></h2>
            <p><em>The Cross and Our Calling</em> was originally written in 2003 as a way to give fuller expression to The’s
                 religious identity and founding vision as a Reformed Christian institution seeking to serve the broader Christian
                  community. This document builds on the other supporting and official documents of the university such as the Statement
                   of Basis and Principles, the Educational Guidelines.
                </p>
            
            <p><a href="" target="_blank">Read a PDF copy</a>, or request a hard copy by contacting the <a href="">Communications Office</a>.</p>
            <br class="clear">

       </div>
    </div>


    <div class="sidebar">
        <ul>
            <div id="sidebar-nav">
                <div class="title">
                    <a href="">About</a>
                </div>
                <ul>
                    <li class="page_item current_page_item">
                        <a href="" onclick="return false;">SideTitle &amp; SideTitle</a>
                    </li>
                    <li class="page_item">
                        <a href="">SideTitle</a>
                    </li>
                    <li class="page_item">
                        <a href="">SideTitle</a>
                    </li>
                    <li class="page_item page_item_has_children">
                        <a href="">SideTitle</a>
                    </li>
                    <li class="page_item">
                        <a href="">SideTitle</a>
                    </li>
                    <li class="page_item">
                        <a href="">SideTitle</a>
                    </li>
                    <li class="page_item">
                        <a href="">SideTitle</a>
                    </li>
                    <li class="page_item page_item_has_children">
                        <a href="">SideTitle</a>
                    </li>
                    <li class="page_item page_item_has_children">
                        <a href="">SideTitle &amp; SideTitle</a>
                    </li>
                </ul>
            </div>
            
            <div>
                <a href="" class="sidebar-btn" target="_blank">Apply Now Online</a>
                <a href="" class="sidebar-btn">Book a Visit</a>
            </div>
        </ul>
    </div>


</div>









<%- include("partials/footer"); -%>