<!DOCTYPE html>
<html lang="en" sep>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>عن الكلية</title>

    
    <%- include("partials/header"); -%>
  
    <section class="banner2">
        <div class="main-content-container2">
                <div class="banner-content2"> 
                    <div class="banner-rule2"></div>
                    <h1>عن الكلية</h1>
                </div>
        </div>
        <div class="banner-gradient2"></div>
    </section>
    <section  style="height: 100rem;">
    <div class="main-contant" dir="rtl">
        <div class="about-content-holder">
            <div class="index"><span class="trail-begin"><a href="/" title="the University" rel="home"> الرئيسية </a></span>
                <em class="sep"></em> <a href="/about" title="About">عن الكلية</a>
           </div>
           <div class="main-text">
                <h2 ><strong> تاريخ الكلية، رسالتها، رؤيتها ،اهدافها</strong></h2>
                <ul>

                    <h3><strong> تاريخ الجامعة </strong></h3>

                    <li>كلية التقنية الهندسية – زوارة تعتبر من أهم كليات التقنية الهندسية في ليبيا، في البداية كان المعهد العالي للمهن الميكانيكية والكهربائية حيث تأسس في سنة 1996 كمعهد عالي مخول لمنح شهادة الدبلوم العالي إذ تميز بالقدرات الفنية والعلمية بالإضافة الى الإمكانيات المادية من ورش ومعامل تغطى جميع تخصصات المعهد. تنوعت البرامج التدريبية والتعليمية في المعهد حيث شملت الى جانب النظام الدراسي الاساسي دورات تدريب تخصصية ودورات قصيرة مهنية وفي سنة 2010 اعتمد المعهد كلية لمنح شهادة البكالوريوس وكانت تلك خطوة هامة في تاريخ الكلية. 
                    </li>
                    
                </ul>

                <h3 ><strong>الرؤية والرسالة والأهداف
                    :</strong></h3>
                <ul>
                    <li><strong>	رؤيـــــة الـكـــــلــــيــــــة: </strong></li>
                    <p>سعت كلية التقنية الهندسية الى تحقيق التميز والجودة في البرامج الاكاديمية التي تقدمها لتخريج مهندسين وتقنيين مؤهلين مهنياً فاعلين وقادرين على قيادة عجلة التطوير في المجتمع المحلي والاقليمي.
                    </p>
                    <li > <strong>	رســالة الـكـــــلــــيــــــة: </strong></li>
                    <p>تلبية احتياجات المؤسسات التعليمية من المهندسين والتقنيين الأكفاء المؤهلين علمياً وتربوياً ومهنياً وإجراء البحوث العلمية المفيدة لتطوير وتنمية المجتمع , وتقديم الاستشارات والحلول المناسبة لمشكلات المجتمع ، والاهتمام بدمج تقنية المعلومات والاتصال في المنظومة التعليمية ، وفقاً لمعايير الجودة والاعتماد الأكاديمي .
                    </p>
                    <li><strong>	أهداف الـكـــــلــــيــــــة:</strong></li>
                    <p>في ضوء رؤية الكلية ورسالتها وفلسفتها، تهدف الكلية إلى تحقيق الأهداف العامة التالية:
                    </p>
                    <li>إعداد الكفاءات في المجالات الهندسية والتقنية اللازمة لمتطلبات مؤسسات وهيئات المجتمع المختلفة وفق احتياجات المجتمع ومتطلبات معايير الجودة العالمية والاعتماد الأكاديمي.
                    </li><li>توفير بيئة تساعد على تحقيق دراسة عالية المستوى ومغنية للفكر، بحيث تجعل الخريجين أكثر مراعاة واستجابة لحاجات السوق ومتطلبات المجتمع.
                    </li>
                    <li>تقديم الاستشارات العلمية والفنية لمؤسسات المجتمع وأفراده.
                    </li>
                </ul>
                
                <h2 ><strong>الاقسام العلمية: </strong></h2>
                <ul>
                    <li> <a href="/general"> القسم العام </a> </li>
                    <li> <a href="/computer">قسم هندسة الحاسوب</a> </li>
                    <li><a href="/communication">قسم الهندسة الكهربائية والإلكترونية</li>
                    <li><a href="/oil"> قسم الهندسة النفطية</li>
                    <li><a href="/civil">قسم الهندسة المدنية</li>
                    <li><a href="/architecture">قسم  الهندسة المعمارية</li>
                </ul>
                <br class="clear">

           </div>
        </div>


        <div class="sidebar">
            <ul>
                <div id="sidebar-nav">
                    <div class="title">
                        <a href="#title">الوصول السريع</a>
                    </div>
                    <ul>
                        <li class="page_item current_page_item">
                            <a href="/about" onclick="return false;">عن الكلية</a>
                        </li>
                        <li class="page_item">
                            <a href="/dean">كلمة عميد الكلية</a>
                        </li>
                        <li class="page_item">
                            <a href="/general">القسم العام</a>
                        </li>

                        <li class="page_item">
                            <a href="/computer">قسم هندسة الحاسوب</a>
                        </li>
                        <li class="page_item">
                            <a href="/communication">قسم الهندسة الكهربائية والإلكترونية </a>
                        </li>
                        <li class="page_item">
                            <a href="/oil"> قسم الهندسة النفطية</a>
                        </li>
                        <li class="page_item ">
                            <a href="/civil">قسم الهندسة المدنية</a>
                        </li>
                        <li class="page_item ">
                            <a href="/architecture">قسم الهندسة المعمارية</a>
                        </li>
                    </ul>
                </div>
            </ul>
        </div>


    </div>
   

    </section>



    <%- include("partials/footer"); -%>