<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
  <header>
    <div id="header">
        <div style="display: flex; align-items: center;">
        <img src="content/images/345832210_1468513350593187_453318926271352151_n-removebg.png" class="logo">
        <p class="college-name">كلية التقنية الهندسية زوارة</p>

      </div>

      <div class="navItems" dir="rtl">
        <nav class="navStyle"></nav>
        <ul>
          <li><a href="index.html">الرئيسية </a>
          <li><a href="about.html">عن الكلية</a>
            <ul>
              <div class="sub-menu-office">
                <ul class="block" style="width:200px;"> 
                <li><a href="about.html"> الرؤية والرسالة والأهداف </a></li>
                <li><a href="dean-of-college.html"> كلمة عميد الكلية</a></li>
                <!-- <li><a href="">مكتب الشئون القانونية</a></li>
                <li><a href="">مكتب التوثيق والمعلومات</a></li>
                <li><a href="">  مكتب المراجعة الداخلية</a></li>
                <li><a href=""> مكتب ضمان الجودة</a> </li>
                <li><a href="">  مكتب الموارد الذاتية</a></li>
                <li><a href="">  مكتب الشئون الادارية والمالية</a></li>
                <li><a href="">  مكتب شؤون أعضاء هيئة التدريس</a></li> -->
              </ul>
          </div></ul>
          </li>
              <li style="position: relative;"><a href="">المكاتب والإدارات</a>
              <ul>
                  <div class="sub-menu-office">
                    <ul class="block" style="width:220px;"> 
                    <li><a href="">مكتب المسجل العام</a></li>
                    <li><a href="">مكتب شؤون العميد</a></li>
                    <li><a href="">مكتب الشئون القانونية</a></li>
                    <li><a href="">مكتب التوثيق والمعلومات</a></li>
                    <li><a href="">  مكتب المراجعة الداخلية</a></li>
                    <li><a href=""> مكتب ضمان الجودة</a> </li>
                    <li><a href="">  مكتب الموارد الذاتية</a></li>
                    <li><a href="">  مكتب الشئون الادارية والمالية</a></li>
                    <li><a href="">  مكتب شؤون أعضاء هيئة التدريس</a></li>
                  </ul>
              </div></ul></li>
              
              <li><a href="">الأقسام</a>
                <ul>
                  <div class="sub-menu-office" dir="rtl">
                    <ul class="block" style="width:250px;"> 
                    <li><a href="general-department.html">القسم العام</a></li>
                    <li><a href="computer-department.html">قسم هندسة الحاسوب</a></li>
                    <li><a href="communication-department.html">قسم الهندسة الكهربائية والإلكترونية </a></li>
                    <li><a href="oil-department.html">  قسم الهندسة النفطية</a></li>
                    <li><a href="civil-department.html"> قسم الهندسة المدنية  </a> </li>
                    <li><a href="architecture-department .html"> قسم الهندسة المعمارية </a></li>
                   </ul>
                 </div>
               </ul>
              </li>
              <button class="sign-btn" id="sign-btn">تسجيل في الكلية</button>
              <div class="model" >
                <div class="model-header">
                   <div class="model-title"> التسجيل </div>
                   <button class="close-btn" id="close-btn">&times;</button>
                </div>
                <div class="model-body">
                 <p>الوثائق المطلوبة لتسجيل في السمستر الأول في الكلية</p>
                 <ul>
                  <li>استمارة الشهادة الثانوية</li>
                  <li>حسن سيرة وسلوك</li>
                  <li>شهادة صحية</li>
                  <li>الرقم الوطني</li>
                  <img src="content/images/345832210_1468513350593187_453318926271352151_n-removebg.png" alt="">
                  <li>شهادة ميلاد</li>
                  <li>شهادة إقامه</li>
                  <li>4 صور شخصية</li>
                 </ul>
                </div>
                <button class="popup-btn"><a href="">تسجيل الان</a></button>
              </div>
              <div class="overlay"></div>
              <li><input type="text" placeholder="بحث" class="nav-search">
                <span class="search"><input type="checkbox" class="sbox"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg></span></li>
          </ul>
          
        </ul>
      </div>
    </div>
  </header>
  
    <section class="banner2">
        <div class="main-content-container2">
                <div class="banner-content2"> 
                    <h1>  عميد الكلية</h1>
                     <div class="banner-rule2"></div>
                </div>
        </div>
        <div class="banner-gradient2"></div>
    </section>
    <div class="main-contant" dir="rtl">
        <div class="about-content-holder">
            <div class="index"><span class="trail-begin"><a href="index.html" title="the University" rel="home"> الرئيسية </a></span>
                <em class="sep"></em> <a href="about.html" title="About">عن الكلية</a>
                <em class="sep"></em> <span class="trail-end">عميد الكلية</span>
           </div>
           <div class="main-text ">
             <img class="deanimg" src="content/images/dane-of-college.jpg" alt="">
                  <h2 ><strong>    كلمة عميد الكلية </strong></h2>
                  <div class="banner-rule2"></div>
                  <h3 ><strong>  أ. وسام يوسف الكعبور  </strong></h3>
             <p class="deanspeech">
                تضم الكلية كفاءات وطنية كان لها السبق في وضع الخطوات الأولى للعديد من البرامج العلمية والتدريبية التي كانت الأساس الذي اعتمد من قبل بقية المعاهد والمراكز المهنية التدريبية العليا في بلدنا العزيز وتساهم الكلية في تقديم المساعدة والاستشارة للعديد من الجهات العامة والخاصة.
             </p>
            
             <p> العمداء السابقون للكلية :  </p>

             <ul>
                <li>أ. محسن محرز</li>
                <li>أ.إلهام ابو الشواشي</li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>

             </ul>
              <!-- <ul> 
                <li> شعبة الكهرباء (القوى)  </li>
                <li> شعبة الاتصالات </li>
              </ul>

                <h3 ><strong>أهداف القســــــم
:                </strong></h3>
                <ul>
                    <li>تطوير التخصصات في القسم واستحداث تخصصات جديدة لربط المخرجات التعليمية بمتطلبات التنمية في المجتمع.</li>
                    <li>إعداد مهندسين في تخصصات الهندسة الكهربائية والإلكترونية دوي كفاءة علمية عالية.</li>
                    <li>المشاركة في الندوات والمؤتمرات العلمية على مستوي المحلي والدولي لتعزيز الكفاءة العلمية لكوادر القسم.</li>
                    <li>اقامة علاقات علمية مثمرة مع أقسام الهندسة الالكترونية في الجامعات الاخرى على المستوي المحلي والخارجي.</li>
                    <li>القيام بالأبحاث والدارسات التي لها طابع تطبيقي في التخصصات الهندسة الكهربائية والالكترونية.</li>
                    
                </ul>
                
                <h2 ><strong> متطلبات القبول في القسم: </strong></h2>

                   <p>يتم توزيع الطلاب من القسم العام وبتقدير لا يقل عن جيد، وعند تعذر توزيع الطلاب حسب الرغبة تجري امتحانات القبول والمفاضلة وتعطي الاولوية في تلبية الرغبات للطلاب المتميزين والمتفوقين علميا ولا يجوز تنسيب الطالب من القسم العام الي الاقسام التخصصية إذا تجاوز عدد الوحدات المتبقية له في القسم العام (12) أتنتا عشرة وحدة دراسية فأكثر.
                   </p>
        
                <h2 >المقررات الدراسية</h2>

                <h3> <center> الفصل الثاني </center>  </h3>

                <img class="subjects-img" src="" alt="">

                <h3> <center> الفصل الثالث </center>  </h3>

                <img class="subjects-img" src="content/the courses/communication/comm-dep-third-sem.jpg" alt="">

                 <h3> <center> الفصل الرابع </center>  </h3>

                <img class="subjects-img" src="content/the courses//communication/comm-dep-fourth-sem.jpg" alt="">

                <h3> <center> الفصل الخامس  </center>  </h3>

                <img class="subjects-img" src="content/the courses/communication/" alt="">

                 <h3> <center>الفصل السادس</center>  </h3>

                <img class="subjects-img" src="content/the courses/communication/comm-dep-sixth-sem.jpg" alt="">

                <h3> <center> الفصل السابع  </center>  </h3>

                <img class="subjects-img" src="content/the courses/communication/comm-dep-seventh-sem.jpg" alt="">

                <h3> <center>الفصل الثامن </center>  </h3>

                <img class="subjects-img" src="" alt="">

-->
                


                <p><a href="" target="_blank">Read a PDF copy</a>, or request a hard copy by contacting the <a href="">Communications Office</a>.</p>
                <br class="clear"> 

           </div>
        </div>


        <div class="sidebar">
          <ul>
              <div id="sidebar-nav">
                  <div class="title">
                      <a href="">حول</a>
                  </div>
                  <ul>
                      <li class="page_item current_page_item">
                          <a href="about.html" onclick="return false;">عن الكلية</a>
                      </li>
                      <li class="page_item">
                          <a href="dean-of-college.html">كلمة عميد الكلية</a>
                      </li>
                      <li class="page_item">
                          <a href="general-department.html">القسم العام</a>
                      </li>

                      <li class="page_item">
                          <a href="computer-department.html">قسم هندسة الحاسوب</a>
                      </li>
                      <!-- <li class="page_item page_item_has_children">
                          <a href="">President's Office</a>
                      </li> -->
                      
                      <li class="page_item">
                          <a href="communication-department.html">قسم الهندسة الكهربائية والإلكترونية </a>
                      </li>
                      <li class="page_item">
                          <a href="oil-department.html"> قسم الهندسة النفطية</a>
                      </li>
                      <li class="page_item ">
                          <a href="civil-department.html">قسم الهندسة المدنية</a>
                      </li>
                      <li class="page_item ">
                          <a href="architecture-department .html">قسم الهندسة المعمارية</a>
                      </li>
                  </ul>
              </div>
          </ul>
      </div>

    </div>








    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="index.js"></script>
</body>
</html>

