<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>عميد الكلية</title>

    
  <%- include("partials/header"); -%>
  
    <section class="banner2">
        <div class="main-content-container2">
                <div class="banner-content2"> 
                    <h1>  عميد الكلية</h1>
                     <div class="banner-rule2"></div>
                </div>
        </div>
        <div class="banner-gradient2"></div>
    </section>
    <div class="main-contant" dir="rtl">
        <div class="about-content-holder">
            <div class="index"><span class="trail-begin"><a href="/" title="the University" rel="home"> الرئيسية </a></span>
                <em class="sep"></em> <a href="/about" title="About">عن الكلية</a>
                <em class="sep"></em> <span class="trail-end">عميد الكلية</span>
           </div>
           <div class="main-text ">
             <img class="deanimg" src="content/images/dane-of-college.jpg" alt="">
                  <h2 ><strong>    كلمة عميد الكلية </strong></h2>
                  <div class="banner-rule2"></div>
                  <h3 ><strong>  أ. وسام يوسف الكعبور  </strong></h3>
             <p class="deanspeech">
                تضم الكلية كفاءات وطنية كان لها السبق في وضع الخطوات الأولى للعديد من البرامج العلمية والتدريبية التي كانت الأساس الذي اعتمد من قبل بقية المعاهد والمراكز المهنية التدريبية العليا في بلدنا العزيز وتساهم الكلية في تقديم المساعدة والاستشارة للعديد من الجهات العامة والخاصة.
             </p>
            
             <p> العمداء السابقون للكلية :  </p>

             <ul>
                <li>أ. محسن محرز</li>
                <li>أ.إلهام ابو الشواشي</li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>

             </ul>
              <!-- <ul> 
                <li> شعبة الكهرباء (القوى)  </li>
                <li> شعبة الاتصالات </li>
              </ul>

                <h3 ><strong>أهداف القســــــم
:                </strong></h3>
                <ul>
                    <li>تطوير التخصصات في القسم واستحداث تخصصات جديدة لربط المخرجات التعليمية بمتطلبات التنمية في المجتمع.</li>
                    <li>إعداد مهندسين في تخصصات الهندسة الكهربائية والإلكترونية دوي كفاءة علمية عالية.</li>
                    <li>المشاركة في الندوات والمؤتمرات العلمية على مستوي المحلي والدولي لتعزيز الكفاءة العلمية لكوادر القسم.</li>
                    <li>اقامة علاقات علمية مثمرة مع أقسام الهندسة الالكترونية في الجامعات الاخرى على المستوي المحلي والخارجي.</li>
                    <li>القيام بالأبحاث والدارسات التي لها طابع تطبيقي في التخصصات الهندسة الكهربائية والالكترونية.</li>
                    
                </ul>
                
                <h2 ><strong> متطلبات القبول في القسم: </strong></h2>

                   <p>يتم توزيع الطلاب من القسم العام وبتقدير لا يقل عن جيد، وعند تعذر توزيع الطلاب حسب الرغبة تجري امتحانات القبول والمفاضلة وتعطي الاولوية في تلبية الرغبات للطلاب المتميزين والمتفوقين علميا ولا يجوز تنسيب الطالب من القسم العام الي الاقسام التخصصية إذا تجاوز عدد الوحدات المتبقية له في القسم العام (12) أتنتا عشرة وحدة دراسية فأكثر.
                   </p>
        
                <h2 >المقررات الدراسية</h2>

                <h3> <center> الفصل الثاني </center>  </h3>

                <img class="subjects-img" src="" alt="">

                <h3> <center> الفصل الثالث </center>  </h3>

                <img class="subjects-img" src="content/the courses/communication/comm-dep-third-sem.jpg" alt="">

                 <h3> <center> الفصل الرابع </center>  </h3>

                <img class="subjects-img" src="content/the courses//communication/comm-dep-fourth-sem.jpg" alt="">

                <h3> <center> الفصل الخامس  </center>  </h3>

                <img class="subjects-img" src="content/the courses/communication/" alt="">

                 <h3> <center>الفصل السادس</center>  </h3>

                <img class="subjects-img" src="content/the courses/communication/comm-dep-sixth-sem.jpg" alt="">

                <h3> <center> الفصل السابع  </center>  </h3>

                <img class="subjects-img" src="content/the courses/communication/comm-dep-seventh-sem.jpg" alt="">

                <h3> <center>الفصل الثامن </center>  </h3>

                <img class="subjects-img" src="" alt="">

-->
                



           </div>
        </div>


        <div class="sidebar">
            <ul>
                <div id="sidebar-nav">
                    <div class="title">
                        <a href="#title">الوصول السريع</a>
                    </div>
                    <ul>
                        <li class="page_item current_page_item">
                            <a href="/about">عن الكلية</a>
                        </li>
                        <li class="page_item">
                            <a href="/dean" onclick="return false;">كلمة عميد الكلية</a>
                        </li>
                        <li class="page_item">
                            <a href="/general">القسم العام</a>
                        </li>

                        <li class="page_item">
                            <a href="/computer">قسم هندسة الحاسوب</a>
                        </li>
                        <li class="page_item">
                            <a href="/communication">قسم الهندسة الكهربائية والإلكترونية </a>
                        </li>
                        <li class="page_item">
                            <a href="/oil"> قسم الهندسة النفطية</a>
                        </li>
                        <li class="page_item ">
                            <a href="/civil">قسم الهندسة المدنية</a>
                        </li>
                        <li class="page_item ">
                            <a href="/architecture">قسم الهندسة المعمارية</a>
                        </li>
                    </ul>
                </div>
            </ul>
        </div>

    </div>






    <%- include("partials/footer"); -%>

