<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="style.css">
    
</head>
<header>
    <div id="header">
        <div style="display: flex; align-items: center;">
        <img src="content/images/345832210_1468513350593187_453318926271352151_n-removebg.png" class="logo">
        <p class="college-name">كلية التقنية الهندسية زوارة</p>

      </div>

      <div class="navItems" dir="rtl">
        <nav class="navStyle"></nav>
        <ul>
          <li><a href="index.html">الرئيسية </a>
          <li><a href="about.html">عن الكلية</a>
            <ul>
              <div class="sub-menu-office">
                <ul class="block" style="width:200px;"> 
                <li><a href="about.html"> الرؤية والرسالة والأهداف </a></li>
                <li><a href="dean-of-college.html"> كلمة عميد الكلية</a></li>
                <!-- <li><a href="">مكتب الشئون القانونية</a></li>
                <li><a href="">مكتب التوثيق والمعلومات</a></li>
                <li><a href="">  مكتب المراجعة الداخلية</a></li>
                <li><a href=""> مكتب ضمان الجودة</a> </li>
                <li><a href="">  مكتب الموارد الذاتية</a></li>
                <li><a href="">  مكتب الشئون الادارية والمالية</a></li>
                <li><a href="">  مكتب شؤون أعضاء هيئة التدريس</a></li> -->
              </ul>
          </div></ul>
          </li>
              <li style="position: relative;"><a href="">المكاتب والإدارات</a>
              <ul>
                  <div class="sub-menu-office">
                    <ul class="block" style="width:220px;"> 
                    <li><a href="">مكتب المسجل العام</a></li>
                    <li><a href="">مكتب شؤون العميد</a></li>
                    <li><a href="">مكتب الشئون القانونية</a></li>
                    <li><a href="">مكتب التوثيق والمعلومات</a></li>
                    <li><a href="">  مكتب المراجعة الداخلية</a></li>
                    <li><a href=""> مكتب ضمان الجودة</a> </li>
                    <li><a href="">  مكتب الموارد الذاتية</a></li>
                    <li><a href="">  مكتب الشئون الادارية والمالية</a></li>
                    <li><a href="">  مكتب شؤون أعضاء هيئة التدريس</a></li>
                  </ul>
              </div></ul></li>
              
              <li><a href="">الأقسام</a>
                <ul>
                  <div class="sub-menu-office" dir="rtl">
                    <ul class="block" style="width:250px;"> 
                    <li><a href="general-department.html">القسم العام</a></li>
                    <li><a href="computer-department.html">قسم هندسة الحاسوب</a></li>
                    <li><a href="communication-department.html">قسم الهندسة الكهربائية والإلكترونية </a></li>
                    <li><a href="oil-department.html">  قسم الهندسة النفطية</a></li>
                    <li><a href="civil-department.html"> قسم الهندسة المدنية  </a> </li>
                    <li><a href="architecture-department .html"> قسم الهندسة المعمارية </a></li>
                   </ul>
                 </div>
               </ul>
              </li>
              <button class="sign-btn" id="sign-btn">تسجيل في الكلية</button>
              <div class="model" >
                <div class="model-header">
                   <div class="model-title"> التسجيل </div>
                   <button class="close-btn" id="close-btn">&times;</button>
                </div>
                <div class="model-body">
                 <p>الوثائق المطلوبة لتسجيل في السمستر الأول في الكلية</p>
                 <ul>
                  <li>استمارة الشهادة الثانوية</li>
                  <li>حسن سيرة وسلوك</li>
                  <li>شهادة صحية</li>
                  <li>الرقم الوطني</li>
                  <img src="content/images/345832210_1468513350593187_453318926271352151_n-removebg.png" alt="">
                  <li>شهادة ميلاد</li>
                  <li>شهادة إقامه</li>
                  <li>4 صور شخصية</li>
                 </ul>
                </div>
                <button class="popup-btn"><a href="">تسجيل الان</a></button>
              </div>
              <div class="overlay"></div>
              <li><input type="text" placeholder="بحث" class="nav-search">
                <span class="search"><input type="checkbox" class="sbox"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg></span></li>
          </ul>
          
        </ul>
      </div>
    </div>
  </header>
  
    <section class="banner2">
        <div class="main-content-container2">
                <div class="banner-content2"> 
                    <div class="banner-rule2"></div>
                    <h1>الأقسام العلمية</h1>
                </div>
        </div>
        <div class="banner-gradient2"></div>
    </section>
    <div class="main-contant" dir="rtl">
        <div class="about-content-holder">
            <div class="index"><span class="trail-begin"><a href="index.html" title="the University" rel="home"> الرئيسية </a></span>
                <em class="sep"></em> <a href="about.html" title="About">عن الكلية</a>
                <em class="sep"></em> <span class="trail-end">القسم العام</span>
           </div>
           <div class="main-text">
                <h2 ><strong>القسم العام</strong></h2>
                    <p>تم انشاء القسم العام سنة خريف 2015 وهو المرحلــة التي يدرس فيها الطالــب المقــررات التي لا تدخل ضمن التخصص الأساسي للطالب ولكنها ضمن متطلبات القسم للحصول على الدرجة العلمية
                    </p>

                <h3 ><strong>الرؤية والرسالة والأهداف
                    :</strong></h3>
                <ul>
                    <li><strong>الرؤيـــــة : </strong></li>
                    <p>نسعى للوصول بطلاب الكلية إلى درجة عالية من التميز والاستعداد للدراسة الأكاديمية والوصول إلى أعلى المعايير والمستويات من النجاح في مسيرتهم التعليمية من المراحل الأولى من التعليم الجامعي.
                </p>
                    <li > <strong>الرســالة: </strong></li>
                    <p>أعداد الطلاب لتحقيق تحصيل دراسي متميز وذلك عبر برامج دراسية مكثفة ذات جودة أكاديمية عالية وفق أُسس، ومعايير التعلم الحديثة.
                    </p>
                    <li > <strong>الأهداف: </strong></li>
                    <li>تعزيز معارف الطلاب الأساسية في اللغة الإنجليزية، الرياضيات والعلوم الأساسية التي يحتاجها الطلاب في تخصصاهم المستقبلية.</li>
                    <li>تحقيق مبدأ التنافس بين الطلاب وتحديد نظام التخصص بالمفاضلة</li>
                    <li>دعم طموح الطالب في التفوق الأكاديمي</li>
                    <li>مساعدة الطالب على الاندماج في مجتمع الكلية والمشاركة الفعالة في الأنشطة الثقافية والاجتماعية </li>
                    <li>تحسين الأداء وترشيد التخصصات</li>
                    <li>ترسيخ مبادئ الانضباط والالتزام والشعور بالمسؤولية</li>
                </ul>
                
                <h2 ><strong> متطلبات القبول في القسم: </strong></h2>
                <ul>
                    <p>ضوابط إجراءات القبول بالقسم العام تحدد اللجنة العلمية للجامعة القدرة الاستيعابية للكلية وفق الضوابط المحددة من قبل وزارة التعليم وإدارة الجامعة. ويعتمد القبول في القسم العام على المفاضلة بين الطلاب على المقاعد المتوفرة لاستقطاب الطلاب المتميزين بعد توفر شروط القبول لديهم. هذا ويتم القبول مرتين في السنة ، ويبدأ القبول بتقديم المستندات لقسم التسجيل وينتهي بمراجعة الطالب لقسم التسجيل في اليوم المحدد</p>
                    <h4>الوثائق المطلوبة:</h4>
                    <li>استمارة الشهادة الثانوية </li>
                    <li>حسن سيرة وسلوك</li>
                    <li>شهادة صحية</li>
                    <li> الرقم الوطني</li>
                    <li>شهادة ميلاد </li>
                    <li> شهادة أقامه </li>
                    <li>4 صور شخصية</li>
                    <li>عدد 3 ملف لحفظ الأوراق</li>
                </ul>
        
                <h2 >المقررات الدراسية</h2>
                <p>يشتمل القسم العام على فصل واحد على الطالب اجتياز 18 وحدة دراسية، يطبق برنامج القسم العام على جميع الطلاب المقبولين على مسارات الكليات. على أن يجتاز الطالب جميع المقررات الدراسية المحددة له في خطته بنجاح، وتمثل السنة التحضيرية السنة الأولى من سنوات الخطة الدراسية لكافة الأقسام العلمية بالكلية. كما أن المعدل التراكمي الذي يحصل عليه الطالب في نهاية السنة التحضيرية يحسب في المعدل التراكمي العام للطالب في الأقسام التي يلتحق بها
                    </p>

                <h3> <center> الفصل الأول</center>  </h3>

                <img class="subjects-img" src="content/the courses/general/firs-dep-first-sem.jpg" alt="">
                
                <h2 ><strong>Institutional Purpose</strong></h2>
                <p>The overall purpose of the institution is to equip students to fulfil their callings in the Kingdom of God
                     by providing them with a post-secondary education that is grounded in Scripture. Such a Christian education will enable students:
                    </p>
                <ul>
                    <li>to discern the biblical basis of a Christian worldview,</li>
                    <li>to translate this worldview into a systematic framework for academic work,</li>
                    <li>to acquire an understanding of the profoundly religious nature of cultural formation,</li>
                    <li>to acquire an historical awareness of the conflicting spiritual roots of contemporary culture, and</li>
                    <li>to apply and develop these insights in the various liberal arts and science and in an area of disciplinary specialization.</li>
                </ul>
                <p>Such an education will help strengthen students’ commitment to the Christian faith and better prepare them to exercise
                     their God-given talents and abilities in the full range of life’s callings and vocations. Students will be enabled to
                      understand the times in which they are living and the direction in which their society is headed and to strive for the
                       furtherance of the Lordship of Christ in a life of service to God and their neighbour.
                    </p>
                <p>The framework for this Scripturally-directed program of education is delineated in the Statement of Basis and Principles,
                     which is part of the charter of the University. It is given expression in a number of Educational Guidelines, and a
                      fuller expression of the identity and purpose of the University can be found in the booklet “<a href="" target="_blank">The Cross and our Calling</a>“.<br><a name="statement"></a>
                    </p>
                
                <h2 ><strong>Statement of Basis and Principles</strong></h2>
                <p>Our supreme standard is the Bible. These Scriptures, both Old Testament and New, reveal some basic principles relevant to
                     education, which we affirm:</p>
                <ul>
                    <li><strong>Scripture:</strong> The Scriptures are the written and inspired Word of God, the infallible and authoritative rule of faith for the direction of the whole of life.</li>
                    <li><strong>Creation:</strong> God created and structured the universe in all its many ways by His Word. The meaning of creation is focused in man, God’s image-bearer, with whom He established a special covenant relationship in Jesus Christ.</li>
                    <li><strong>Sin:</strong> Man’s disobedience, which brought God’s curse upon all mankind, alienated man from his Creator, himself, his fellow man and the rest of the creation; distorted his view of the meaning and purpose of life; and misdirected human culture and learning.</li>
                    <li><strong>Redemption:</strong> Christ, the Word of God incarnate, is the only the, the Renewer of our whole life. He restores man and the rest of the creation to God and calls man back to his God-appointed task in the world.</li>
                    <li><strong>Human life</strong>: Man is by nature a religious being. All of human life, including educational work, must be understood as a response to the one true God. Consequently, man serves either the Lord or a god of his own making.</li>
                    <li><strong>Knowledge:</strong> True knowledge of God, ourselves, and the rest of the creation is made possible only by means of a true faith in Jesus Christ, in whom are found all the treasures of wisdom and knowledge. True knowledge is attained only when the Holy Spirit enlightens people’s hearts by the integrating Word of God and sets them in the truth. However, by God’s gracious providence after the fall, those who reject the Word of God do provide many valuable insights into the structure of reality.</li>
                    <li><strong>Teaching and Learning: </strong>In the context of their scholarship, the instructors at the University are called to lead students toward a deeper understanding of God’s world and its history and to help them reach a cultural maturity grounded in biblical faith. In order to carry out this calling, the instructors and students should endeavour to discover God’s laws and the structures of the creation so that the students may effectively take up their specific responsibilities and vocations in a way that will further the coming of the Lord’s Kingdom.We believe that this Statement of Basis and Principles is wholly in harmony not only with Scripture but also with the historic creeds of the Reformation.</li>
                </ul>
                <p><em>(This statement in its original form is a founding document adopted by the institution’s membership in 1981. All references to
                     “man” are intended to be gender inclusive.)<br></em>
                    </p>
                
                <h2 ><strong>Educational Guidelines</strong></h2>
                <p>In all courses students:</p>
                <ul>
                    <li>should receive instruction which meets high academic standards, both in the level of understanding which is demanded and in the range of material covered</li>
                    <li>must attain a good understanding of the basic themes of biblical revelation, especially the all-embracing scope of creation, fall, and redemption</li>
                    <li>should learn the rudiments of a philosophical frame work which is shaped by a biblical worldview and gives some perspective on the interrelatedness of academic disciplines</li>
                    <li>should gain a basic understanding of the main historical movements of the West, with particular sensitivity to the variety of competing religious worldviews which have gone into the making of contemporary North American and, specifically, Canadian society</li>
                    <li>develop a sensitivity to the foundational questions in their fields, and be able to relate them positively to a Christian philosophy and worldview</li>
                    <li>acquire some critical familiarity with the main competing schools and trends in their disciplines, both past and present</li>
                </ul>
                <p>Students should develop a well-informed and critical awareness of the main features of contemporary Canadian society, and be able to
                     relate their academic studies to a future vocation of Christian service in our society.
                    </p>
                
                <h2 ><strong>Identity</strong></h2>
                <p><em>The Cross and Our Calling</em> was originally written in 2003 as a way to give fuller expression to the’s
                     religious identity and founding vision as a Reformed Christian institution seeking to serve the broader Christian
                      community. This document builds on the other supporting and official documents of the university such as the Statement
                       of Basis and Principles, the Educational Guidelines.
                    </p>
                
                <p><a href="" target="_blank">Read a PDF copy</a>, or request a hard copy by contacting the <a href="">Communications Office</a>.</p>
                <br class="clear">

           </div>
        </div>


        <div class="sidebar">
            <ul>
                <div id="sidebar-nav">
                    <div class="title">
                        <a href="">حول</a>
                    </div>
                    <ul>
                        <li class="page_item current_page_item">
                            <a href="about.html" onclick="return false;">عن الكلية</a>
                        </li>
                        <li class="page_item">
                            <a href="dean-of-college.html">كلمة عميد الكلية</a>
                        </li>
                        <li class="page_item">
                            <a href="general-department.html">القسم العام</a>
                        </li>

                        <li class="page_item">
                            <a href="computer-department.html">قسم هندسة الحاسوب</a>
                        </li>
                        <!-- <li class="page_item page_item_has_children">
                            <a href="">President's Office</a>
                        </li> -->
                        
                        <li class="page_item">
                            <a href="communication-department.html">قسم الهندسة الكهربائية والإلكترونية </a>
                        </li>
                        <li class="page_item">
                            <a href="oil-department.html"> قسم الهندسة النفطية</a>
                        </li>
                        <li class="page_item ">
                            <a href="civil-department.html">قسم الهندسة المدنية</a>
                        </li>
                        <li class="page_item ">
                            <a href="architecture-department .html">قسم الهندسة المعمارية</a>
                        </li>
                    </ul>
                </div>
            </ul>
        </div>
    </div>







    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="index.js"></script>
</body>
</html>

