<%- include("partials/header"); -%>




<div class="firstHero">
    <div class="heroContainer">
      <h1>
        <div style="text-align: start;">hi</div>
        <div style="text-align: start;">uniPage</div>
      </h1>
      <div class="heroStyle"></div>
      <p>
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, tempore, .</div>
        <div>nihil pariatur, et dicta aliquid doloribus rerum similique dolores </div>
      </p>

        <a class="linkbuton" href="">Explore programs</a>

    </div>
  </div>

  <div class="px-4 py-5 my-5 text-center" name="second hero">
    <h1 class="display-5 fw-bold text-body-emphasis">Centered hero</h1>
    <div class="heroStyle center"></div>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 mt-5">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a class="linkbuton" href="">Explore programs</a>
      </div>
    </div>
  </div>


  <div class="container col-xxl-8 px-4 py-5" name="third hero">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-4">
        <p class="lead mb-5"> most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
        <a class="linkbuton" href="">Explore programs</a>

      </div>
      <div class="col-lg-8">

        <p class="lead">Quickly design and customize responsive mobile-</p>
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Responsive</h1>
        <p class="lead">Quickly design and customize responsive mobile-</p>
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Responsive</h1>
        <p class="lead">Quickly design and customize responsive mobile-</p>
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Responsive</h1>
      </div>
    </div>
  </div>

  <div class="numbers py-5">
      <div class="numbersTitle mt-5">
        <span>QUICK FACTS</span>
      </div>

      <div class="numbersCards mb-5">
        <div class="numberCard">
            <div class="numberImageCon">
                <div class="numberImage" ></div>
            </div>
            <div class="numberPer" >94%</div>
            <div class="numberTex">
              <div class="line" > Lorem ipsum dolor sit amet  </div>
              <div class="line" >Lorem ipsum dolor sit amet  </div>
            </div>
        </div>

        <div class="numbersCards">
          <div class="numberCard">
              <div class="numberImageCon">
                  <div class="numberImage" ></div>
              </div>
              <div class="numberPer" >94%</div>
              <div class="numberTex">
                <div class="line" > Lorem ipsum dolor sit amet  </div>
                <div class="line" >Lorem ipsum dolor sit amet  </div>
              </div>
            </div>
          </div>
          <div class="numbersCards">
            <div class="numberCard">
                <div class="numberImageCon">
                    <div class="numberImage" ></div>
                </div>
                <div class="numberPer" >94%</div>
                <div class="numberTex">
                  <div class="line" > Lorem ipsum dolor sit amet  </div>
                  <div class="line" >Lorem ipsum dolor sit amet  </div>
                </div>
              </div>
            </div>
            <div class="numbersCards">
              <div class="numberCard">
                  <div class="numberImageCon">
                      <div class="numberImage" ></div>
                  </div>
                  <div class="numberPer" >94%</div>
                  <div class="numberTex">
                    <div class="line" > Lorem ipsum dolor sit amet  </div>
                    <div class="line" >Lorem ipsum dolor sit amet  </div>
                  </div>
                </div>
              </div>
              <div class="numbersCards">
                <div class="numberCard">
                    <div class="numberImageCon">
                        <div class="numberImage" ></div>
                    </div>
                    <div class="numberPer" >94%</div>
                    <div class="numberTex">
                      <div class="line" > Lorem ipsum dolor sit amet  </div>
                      <div class="line" >Lorem ipsum dolor sit amet  </div>
                    </div>
                  </div>
                </div>


    
  </div>
</div>

  <div class="px-4 py-5 my-5 text-center" name="forth hero">
    <div class="numbersTitle my-5">
      <span>QUICK FACTS</span>
    </div>
    <h1 class="display-5 fw-bold text-body-emphasis">Centered hero</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 mt-5">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a class="linkbuton" href="">Explore programs</a>
      </div>
    </div>
  </div>

  <div class="fifth-hero">
    <h1 class="title5">News & Events</h1>
    <h2 class="side5">LATEST NEWS</h2>
    <div class="main5">
      <a class="linkbuton top5" href="">Explore programs</a>
      <div class="content5">
        <div class="text-container">
        <h2>Randoim content</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum ratione libero quidem rerum nostrum laudantium, soluta commodi animi voluptatibus</p>
        </div>
      </div>
      <a class="sideB5" href="">Explore programs</a>
    </div>
  </div>


  <div name="pictures"></div>


  <section class="mail">
    <div class="mail-container">
        <div class="main-mail">
            <h2 class="mail-head">Send me information!</h2>
            <p class="mail-p">Have a question or want to get some additional information by email or mail? Click the button below and drop us a line and we’ll be in touch lickety-split.</p>
            <a href="" class="mail-button" >Request information package</a>
            <div class="mail-image"></div>
        </div>
    </div>
</section>
      


<footer style="background-color: rgb(37, 37, 37); position: relative; bottom: 0; left: 0;">
  <div class="container py-3">
    <div class="d-flex flex-wrap justify-content-between align-items-center mt-4 text-white">
      <p class="col-md-4 mb-0 ">© 2023 Company, Inc</p>
  
      <a href="/" class="col-md-4 d-flex align-items-center text-white justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      </a>
  
      <ul class="nav col-md-4  justify-content-end">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-white">About</a></li>
      </ul>
    </div>
  </div>
</footer>






<%- include("partials/footer"); -%>
