<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


  <%- include("partials/header"); -%>

    <div class="firstHero">
      <div class="heroContainer">
      



      </div>
    </div>

    <div class="px-4 py-5 my-5 text-center " name="second hero">
      <h1 class="display-5 fw-bold text-body-emphasis">حول الكلية</h1>
      <div class="heroStyle center"></div>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4 mt-5">كلية التقنية الهندسية – زوارة تعتبر من أهم كليات التقنية الهندسية في ليبيا، في البداية كان المعهد العالي للمهن الميكانيكية والكهربائية حيث تأسس في سنة 1996 كمعهد عالي مخول لمنح شهادة الدبلوم العالي إذ تميز بالقدرات الفنية والعلمية بالإضافة الى الإمكانيات المادية من ورش ومعامل تغطى جميع تخصصات المعهد. تنوعت البرامج التدريبية والتعليمية في المعهد حيث شملت الى جانب النظام الدراسي الاساسي دورات تدريب تخصصية ودورات قصيرة مهنية وفي سنة 2010 اعتمد المعهد كلية لمنح شهادة البكالوريوس وكانت تلك خطوة هامة في تاريخ الكلية.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a class="linkbuton" href="/about">معرفة المزيد</a>
        </div>
      </div>
    </div>
    <section id="portfolio" class="portfolio">
      <div class="container">
          <div class="row text-center">
              <h1 class="display-3 ">  الاخبار والإعلانات</h1>
              <div class="heading-line"></div>
              <p class="lead mt-4">
                  </p>
          </div>
          <!--News photos-->
          <div class="row">
              <div class="col-lg-4 col-ms6">
                  <div class="news-box shadow">
                      <img src="content/News/NEWS-7.jpg" alt="" class="img-fluid">
                      
                          <div class="caption">
                              <h4>الاسم هنا 1</h4>
                              <p>categort projact</p>
                          </div>
                      
                  </div>
              </div>
              <div class="col-lg-4 col-ms6">
                  <div class="news-box shadow">
                      <img src="content/News/News-8.jpg" alt="" class="img-fluid">
                      
                          <div class="caption">
                              <h4>الاسم هنا 2</h4>
                              <p>categort projact</p>
                          </div>
                      
                  </div>
              </div>
              <div class="col-lg-4 col-ms6">
                  <div class="news-box shadow">
                      <img src="content/News/News-9.jpg" alt="" class="img-fluid">
                      
                          <div class="caption">
                              <h4>الاسم هنا 3</h4>
                              <p>categort projact</p>
                          </div>
                      
                  </div>
              </div>
              <div class="col-lg-4 col-ms6">
                  <div class="news-box shadow">
                      <img src="content/News/News-1.jpg"" class="img-fluid">
                      
                          <div class="caption">
                              <h4>الاسم هنا 4</h4>
                              <p>categort projact</p>
                          </div>
                      
                  </div>
              </div>
              <div class="col-lg-4 col-ms6">
                  <div class="news-box shadow">
                      <img src="content/News/News-2.jpg" alt="" class="img-fluid">
                    
                          <div class="caption">
                              <h4>الاسم هنا 5</h4>
                              <p>categort projact</p>
                          </div>
                      
                  </div>
              </div>
              <div class="col-lg-4 col-ms6">
                  <div class="news-box shadow">
                      <img src="content/News/News-3.jpg" alt="" class=" imge">
                     
                          <div class="caption">
                              <h4>إعلان هام</h4>
                              <p>على الطلبة المتواجد اسمهم التوجه الى قالدراسة والإمتحانات </p>
                          </div>
                      
                  </div>
              </div>

              <!-- <div class="col-lg-4 col-ms6">
                  <div class="news-box shadow">
                      <img src="content/News/News-4.jpg" alt="" class="img-fluid">
                      <div class="portfolio-info">
                          <div class="caption">
                              <h4>الاسم هنا 7</h4>
                              <p>categort projact</p>
                          </div>
                      </div>
                  </div>
              </div> -->
              <!-- <div class="col-lg-4 col-ms6">
                  <div class="news-box shadow">
                      <img src="content/News/News-5.jpg" alt="" class="img-fluid">
                      <div class="portfolio-info">
                          <div class="caption">
                              <h4>الاسم هنا 8</h4>
                              <p>categort projact</p>
                          </div>
                      </div>
                  </div>
              </div> -->
              <!-- <div class="col-lg-4 col-ms6">
                  <div class="news-box shadow">
                      <img src="content/News/News-6.jpg" alt="" class="img-fluid">
                      <div class="portfolio-info">
                          <div class="caption">
                              <h4>الاسم هنا 9</h4>
                              <p>categort projact</p>
                          </div>
                      </div>
                  </div>
              </div> -->
          </div>
      </div> 
  </section>
  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
    <a class="linkbuton " href="#">معرفة المزيد</a>
  </div>
    <div class="px-4 py-5 my-5 text-center " name="second hero">
    <h1 class="display-5 fw-bold text-body-emphasis">حول الكلية</h1>
    <div class="heroStyle center"></div>
    <div class="container col-xxl-8 px-4 py-5 " name="third hero">
      <div class="row  align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-4">
          <p class="lead mb-5"> most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
          <a class="linkbuton" href="/workshop">جميع ورشات العمل</a>

        </div>
        <div class="col-lg-8">
           <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Responsive</h1>
          <p class="lead">Quickly design and customize responsive mobile-</p>
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Responsive</h1>
          <p class="lead">Quickly design and customize responsive mobile-</p>
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Responsive</h1>
          <p class="lead">Quickly design and customize responsive mobile-</p>
        </div>
      </div>
    </div>

    <div class="numbers py-5">
        <div class="numbersTitle mt-5">
          <h1 class="display-5 fw-bold text-body-emphasis"> الكلية في ارقام</h1>
          <div class="heroStyle center"></div>
        </div>

        <div class="numbersCards mb-5">
          <div class="numberCard">
              <div class="numberImageCon ">
                  <div class="numberImage foundationicon" ></div>
              </div>
              <div class="line" >تأسست سنة </div>
              <div class="numberPer" >1996 </div>
              <div class="numberTex">
                <div class="line" > ميلادي </div>
                
              </div>
          </div>

          <div class="numbersCards">
            <div class="numberCard">
                <div class="numberImageCon ">
                    <div class="numberImage studenticon" ></div>
                </div>
                <div class="line" >يدرس في الكلية </div>
                <div class="numberPer" >700</div>
                <div class="numberTex">
                  
                  <div class="line" > طالب وطالبة </div>
                </div>
              </div>
            </div>
            <div class="numbersCards">
              <div class="numberCard">
                  <div class="numberImageCon ">
                      <div class="numberImage teachericon" ></div>
                  </div>
                  <div class="line" > يُدرِس في الكلية</div>
                  <div class="numberPer" >200</div>
                  <div class="numberTex">
                    <div class="line" >عضو هيئة تدريس</div>
                  </div>
                </div>
              </div>
              <div class="numbersCards">
                <div class="numberCard">
                    <div class="numberImageCon ">
                        <div class="numberImage workersicon" ></div>
                    </div>
                    <div class="line" > يعمل في الكلية</div>
                    <div class="numberPer" >300</div>
                    <div class="numberTex">
                      <div class="line" >موضف/ة</div>
                    </div>
                  </div>
                </div>
                <div class="numbersCards">
                  <div class="numberCard">
                      <div class="numberImageCon  ">
                          <div class="numberImage graduatesicon" ></div>
                      </div>
                      <div class="line" > الخريجين </div>
                      <div class="numberPer" >100</div>
                      <div class="numberTex">
                        <div class="line" > خريج/ة </div>
                      </div>
                    </div>
                  </div>


      
    </div>
  </div>
  </div>

    <div class="px-4 py-5 my-5 text-center" name="forth hero">
      <div class="numbersTitle my-5">
        <span>QUICK FACTS</span>
      </div>
      <h1 class="display-5 fw-bold text-body-emphasis">Centered hero</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4 mt-5">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a class="linkbuton" href="">Explore programs</a>
        </div>
      </div>
    </div>

    <div class="fifth-hero">
      <h1 class="title5">الأخبار والإعلانات</h1>
      <div class="main5">
        <a class="linkbuton top5" href="">أخـــر الاخبــــــار</a>
        <div class="content5">
          <!-- <div class="text-container">
          <h2>Randoim content</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum ratione libero quidem rerum nostrum laudantium, soluta commodi animi voluptatibus</p>
          </div> -->
        </div>
        <a class="sideB5 linkbuton" href="">كـــل الاخبــــــار</a>
      </div>
    </div>


    <div name="pictures"></div>


    <section class="mail">
      <div class="mail-container">
          <div class="main-mail">
              <h2 class="mail-head">راسلنا </h2>
              <p class="mail-p">ان كان لديكم اي استفسارات او اي معلومات إضافية ارجاء ضغط على الزر أدناه واكتبوا لنا وسنكون على تواصل معكم</p>
              <a href="" class="mail-button" >Request information package</a>
              <div class="mail-image"></div>
          </div>
      </div>
  </section>
        

  
  <%- include("partials/footer"); -%>