<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>المكاتب</title>

    
    <%- include("partials/header"); -%>
  
    <section class="banner2">
        <div class="main-content-container2">
                <div class="banner-content2"> 
                    <h1> المكاتب </h1>
                    <div class="banner-rule2"></div>
                </div>
        </div>
        <div class="banner-gradient2"></div>
    </section>
    <div class="main-contant" dir="rtl">
        <div class="about-content-holder">
            <div class="index"><span class="trail-begin"><a href="/" title="the University" rel="home"> الرئيسية </a></span>
                <em class="sep"></em> <a href="#" title="About"> المكاتب والإدارات</a>
                <em class="sep"></em> <span class="trail-end">  المكاتب </span>
           </div>
           <div class="main-text">
                <h3 ><strong> اولاً مكتب المسجل العام: </strong></h3>
                <p>يختص بالأتي:</p>
                  <ul>
                    <li>تنظيم شؤون الطلبة بالكلية</li>
                    <li>الاشراف المباشر على النظام الدراسي.</li>
                    <li>مراقبة تطبيق نظم الدراسة والمناهج المعتمدة بالتنسيق مع الأقسام العلمية التخصصية.</li>
                    <li>باشرة مهام التوجيه والمراقبة</li>
                    <li>رسم السياسات ذات الصلة بالامتحانات والتقويم والقياس.</li>
                    <li>اعداد قوائم بأسماء الطلاب الذين لهم حق الدخول للامتحانات.</li>
                    <li>تقديم المقترحات بخصوص لجان الامتحانات.</li>
                    <li>اعداد التقارير الدورية عن نشاطات المكتب.</li>
                    <li>مايسند له من أعمال تتعلق بطبيعة عمله.</li>
                  </ul>
                   <strong> <h4>ويتبع إدارة المسجل عدة أقسام وهي:</h4></strong>
                    <ol>
                    <li>قسم القبول والتسجيل. </li>
                    <li>قسم شؤون الخريجين .</li>
                    <li>قسم النشاط الطلابي.</li>
                    </ol>
    
                    <h3 ><strong> ثانياً مكتب التوثيق والمعلومات:</strong></h3>
                    <p>يختص هذا المكتب بإدارة وتنظيم ومتابعة وصيانة وتطوير الخدمات التقنية المتاحة من منظومة الأساتذة والطلاب بالكلية بالإضافة لتنظيم المكتبة رقمية وقواعد المعلومات وإدارة وتحديث الموقع الإلكتروني والبريد الإلكتروني بالكلية</p>
                    <p><strong>وحدة الموقع الالكتروني: </strong> تشمل تحديث موقع الكلية ومحتوى المكتبة الرقمية والمستودع الرقمي</p>
                    <p><strong> وحدة البوابة الالكترونية:</strong>تشمل وحدة منظومة الأساتذة والطلاب والبريد الالكتروني</p>
                    <p><strong> وحدة الشبكات والصيانة:</strong> تشمل صيانة وتحديث برمجيات الحواسيب والطابعات وانشاء الشبكات ودراسة الأعطال بها وحلها</p>
                    <strong> <h4>المهام الأساسية لقسم الخدمات الالكترونية: </h4></strong>
                    <ol>
                        <li>قسم القبول والتسجيل. </li>
                        <li>قسم شؤون الخريجين .</li>
                        <li>قسم النشاط الطلابي.</li>
                        <li>صيانة الحواسيب والطابعات وتحديث برامجها أو الإشراف على ذلك.</li>
                        <li>تحديث موقع الكلية والإدارة وأرشفة بحوث التخرج الكترونيا</li>
                        <li>تقديم الاستشارات الفنية</li>
                        <li>دارة المكتبة الرقمية بالكلية ونظم المعلومات الإدارية والبوابة الالكترونية والبريد الالكتروني ونظام إدارة المحتوى للتعليم الالكتروني</li>
                        <li>انشاء وتشغيل وتفعيل خدمة البريد الالكتروني للطلاب وأعضاء هيئة التدريس</li>
                        <li>إعداد دراسة عن الأعطال والمشاكل الخاصة بأنظمة الكلية وتقديم التوصيات والاقتراحات الخاصة للبدء في تنفيذها مع مركز تقنية المعلومات</li>
                        <li>الرفع من كفاءة شبكة المعلومات الداخلية بالكلية</li>
                        </ol>
                        <h3 ><strong> ثالثاً مكتب المراجعة الداخلية: </strong></h3>
                        <p>يختص بالأتي:</p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
           </div>
        </div>


        <div class="sidebar">
            <ul>
                <div id="sidebar-nav">
                    <div class="title">
                        <a href="#title">الوصول السريع</a>
                    </div>
                    <ul>
                        <li class="page_item current_page_item">
                            <a href="/about">عن الكلية</a>
                        </li>
                        <li class="page_item">
                            <a href="/dean">كلمة عميد الكلية</a>
                        </li>
                        <li class="page_item">
                            <a href="/general">القسم العام</a>
                        </li>

                        <li class="page_item">
                            <a href="/computer">قسم هندسة الحاسوب</a>
                        </li>
                        <li class="page_item">
                            <a href="/communication">قسم الهندسة الكهربائية والإلكترونية </a>
                        </li>
                        <li class="page_item">
                            <a href="/oil"> قسم الهندسة النفطية</a>
                        </li>
                        <li class="page_item ">
                            <a href="/civil">قسم الهندسة المدنية</a>
                        </li>
                        <li class="page_item ">
                            <a href="/architecture">قسم الهندسة المعمارية</a>
                        </li>
                    </ul>
                </div>
            </ul>
        </div>
    </div>







    <%- include("partials/footer"); -%>

