<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>قسم الهندسة المعمارية</title>

    
    <%- include("partials/header"); -%>
  


    <div class="container" style="margin: 50px auto 150px;" id="NEWS" dir="rtl">
      
                <div class="row text-center">
                  <h1 class="display-3 ">   اعضاء هيئة التدريس </h1>
                  <div class="heading-line"></div>
                  <p class="lead mt-4">
                      </p>
                </div>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mb-5">
                  
                  <div class="col">
                    <div class="card mb-3">
                      <div class="row g-0">
                        <div class="card-body">
                            <img style="float: left; width: 30%; border-radius: 40%;" src="content/images/ajwad.jpg">
                         
                            <h5 class="card-title">Ajwad Elgandouz</h5>
                            <h5 class="card-title">Ajwad Elgandouz</h5>
                            <h5 class="card-title">Ajwad Elgandouz</h5>
                            <h5 class="card-title">Ajwad Elgandouz</h5>
                            <h5 class="card-title">Ajwad Elgandouz</h5>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="card mb-3">
                      <div class="row g-0">
                        <div class="card-body">
                            <img style="float: left; width: 30%; border-radius: 40%;" src="content/images/ajwad.jpg">
                         
                            <h5 class="card-title">Ajwad Elgandouz</h5>
                            <h5 class="card-title">Ajwad Elgandouz</h5>
                            <h5 class="card-title">Ajwad Elgandouz</h5>
                            <h5 class="card-title">Ajwad Elgandouz</h5>
                            <h5 class="card-title">Ajwad Elgandouz</h5>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="card mb-3">
                      <div class="row g-0">
                        <div class="card-body">
                            <img style="float: left; width: 30%; border-radius: 40%;" src="content/images/ajwad.jpg">
                         
                            <h5 class="card-title">Ajwad Elgandouz</h5>
                            <h5 class="card-title">Ajwad Elgandouz</h5>
                            <h5 class="card-title">Ajwad Elgandouz</h5>
                            <h5 class="card-title">Ajwad Elgandouz</h5>
                            <h5 class="card-title">Ajwad Elgandouz</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
          
    </div>









    <%- include("partials/footer"); -%>

