<%- include("partials/header"); -%>


<section class="banner2">
    <div class="main-content-container2">
            <div class="banner-content2"> 
                <div class="banner-rule2"></div>
                <h1>WorkShops</h1>
            </div>
    </div>
    <div class="banner-gradient2"></div>
</section>

<div class="main-contant">
    <div class="about-content">
        <div class="index"><span class="trail-begin"><a href="/" title="The University" rel="home">Home</a></span>
            <em class="sep"></em> <a href="/workShop" title="workShops">WorkShops</a>
       </div>
       <div class="workShowps">
            <p style="margin-bottom: 3rem;"><strong>On this page:</strong> <a href="#Coming">Up Coming</a> <span style="color: #D3D4D6">|</span> <a href="#done">Previos workShops</a></p>
            <div class="workShowps-wraper">
                <div class="workShop-type" id="Coming">Up Coming WorkShops</div>
                <div class="workShop-style"></div>
                <h3 >Up Coming</h3>
                <div class="workShop-list">  
                    <div class="workShop-row">
                                            <div class="workShop-card">         
                                                <div class="workShop-card-inner">
                                                    <img src="/images/Untitled-1.png" class="workShop-card-img">
                                                    <div class="workShop-text">
                                                        <div class="workShop-text-title"><a href=""> Tenure track position in&nbsp;</a></div>
                                                        <div class="workShop-text-info">
                                                            <div class="workShop-text-info-bill">faculty</div>
                                                            <div class="workShop-text-info-info">Full-time<span style="margin-right: 0.5rem; margin-left: 0.5rem;"><small>•</small></span> Starts:&nbsp;July 1, 2023</div>
                                                        </div>
                                                        <div class="workShop-text-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti sapiente modi eaque exercitationem! Aut</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="workShop-card">         
                                                <div class="workShop-card-inner">
                                                    <img src="/images/Untitled-1.png" class="workShop-card-img">
                                                    <div class="workShop-text">
                                                        <div class="workShop-text-title"><a href=""> Tenure track position in&nbsp;</a></div>
                                                        <div class="workShop-text-info">
                                                            <div class="workShop-text-info-bill">faculty</div>
                                                            <div class="workShop-text-info-info">Full-time<span style="margin-right: 0.5rem; margin-left: 0.5rem;"><small>•</small></span> Starts:&nbsp;July 1, 2023</div>
                                                        </div>
                                                        <div class="workShop-text-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti sapiente modi eaque exercitationem! Aut</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="workShop-card">         
                                                <div class="workShop-card-inner">
                                                    <img src="/images/Untitled-1.png" class="workShop-card-img">
                                                    <div class="workShop-text">
                                                        <div class="workShop-text-title"><a href=""> Tenure track position in&nbsp;</a></div>
                                                        <div class="workShop-text-info">
                                                            <div class="workShop-text-info-bill">faculty</div>
                                                            <div class="workShop-text-info-info">Full-time<span style="margin-right: 0.5rem; margin-left: 0.5rem;"><small>•</small></span> Starts:&nbsp;July 1, 2023</div>
                                                        </div>
                                                        <div class="workShop-text-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti sapiente modi eaque exercitationem! Aut</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="workShop-card">         
                                                <div class="workShop-card-inner">
                                                    <img src="/images/Untitled-1.png" class="workShop-card-img">
                                                    <div class="workShop-text">
                                                        <div class="workShop-text-title"><a href=""> Tenure track position in&nbsp;</a></div>
                                                        <div class="workShop-text-info">
                                                            <div class="workShop-text-info-bill">faculty</div>
                                                            <div class="workShop-text-info-info">Full-time<span style="margin-right: 0.5rem; margin-left: 0.5rem;"><small>•</small></span> Starts:&nbsp;July 1, 2023</div>
                                                        </div>
                                                        <div class="workShop-text-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti sapiente modi eaque exercitationem! Aut</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="workShop-card">         
                                                <div class="workShop-card-inner">
                                                    <img src="/images/Untitled-1.png" class="workShop-card-img">
                                                    <div class="workShop-text">
                                                        <div class="workShop-text-title"><a href=""> Tenure track position in&nbsp;</a></div>
                                                        <div class="workShop-text-info">
                                                            <div class="workShop-text-info-bill">faculty</div>
                                                            <div class="workShop-text-info-info">Full-time<span style="margin-right: 0.5rem; margin-left: 0.5rem;"><small>•</small></span> Starts:&nbsp;July 1, 2023</div>
                                                        </div>
                                                        <div class="workShop-text-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti sapiente modi eaque exercitationem! Aut</div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                    </div>
                </div>
            </div>
<!-- -------------------------------------------- -->
    <div class="workShowps-wraper">
    <div class="workShop-type" id="done">Previos workShops</div>
    <div class="workShop-style"></div>
    <h3 >Done</h3>
    <div class="workShop-list">  
        <div class="workShop-row">
                                <div class="workShop-card">         
                                    <div class="workShop-card-inner">
                                        <img src="/images/Untitled-1.png" class="workShop-card-img">
                                        <div class="workShop-text">
                                            <div class="workShop-text-title"><a href=""> Tenure track position in&nbsp;</a></div>
                                            <div class="workShop-text-info">
                                                <div class="workShop-text-info-bill">faculty</div>
                                                <div class="workShop-text-info-info">Full-time<span style="margin-right: 0.5rem; margin-left: 0.5rem;"><small>•</small></span> Starts:&nbsp;July 1, 2023</div>
                                            </div>
                                            <div class="workShop-text-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti sapiente modi eaque exercitationem! Aut</div>
                                        </div>                              
                                    </div>
                                </div>
                                <div class="workShop-card">         
                                    <div class="workShop-card-inner">
                                        <img src="/images/Untitled-1.png" class="workShop-card-img">
                                        <div class="workShop-text">
                                            <div class="workShop-text-title"><a href=""> Tenure track position in&nbsp;</a></div>
                                            <div class="workShop-text-info">
                                                <div class="workShop-text-info-bill">faculty</div>
                                                <div class="workShop-text-info-info">Full-time<span style="margin-right: 0.5rem; margin-left: 0.5rem;"><small>•</small></span> Starts:&nbsp;July 1, 2023</div>
                                            </div>
                                            <div class="workShop-text-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti sapiente modi eaque exercitationem! Aut</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="workShop-card">         
                                    <div class="workShop-card-inner">
                                        <img src="/images/Untitled-1.png" class="workShop-card-img">
                                        <div class="workShop-text">
                                            <div class="workShop-text-title"><a href=""> Tenure track position in&nbsp;</a></div>
                                            <div class="workShop-text-info">
                                                <div class="workShop-text-info-bill">faculty</div>
                                                <div class="workShop-text-info-info">Full-time<span style="margin-right: 0.5rem; margin-left: 0.5rem;"><small>•</small></span> Starts:&nbsp;July 1, 2023</div>
                                            </div>
                                            <div class="workShop-text-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti sapiente modi eaque exercitationem! Aut</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="workShop-card">         
                                    <div class="workShop-card-inner">
                                        <img src="/images/Untitled-1.png" class="workShop-card-img">
                                        <div class="workShop-text">
                                            <div class="workShop-text-title"><a href=""> Tenure track position in&nbsp;</a></div>
                                            <div class="workShop-text-info">
                                                <div class="workShop-text-info-bill">faculty</div>
                                                <div class="workShop-text-info-info">Full-time<span style="margin-right: 0.5rem; margin-left: 0.5rem;"><small>•</small></span> Starts:&nbsp;July 1, 2023</div>
                                            </div>
                                            <div class="workShop-text-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti sapiente modi eaque exercitationem! Aut</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="workShop-card">         
                                    <div class="workShop-card-inner">
                                        <img src="/images/Untitled-1.png" class="workShop-card-img">
                                        <div class="workShop-text">
                                            <div class="workShop-text-title"><a href=""> Tenure track position in&nbsp;</a></div>
                                            <div class="workShop-text-info">
                                                <div class="workShop-text-info-bill">faculty</div>
                                                <div class="workShop-text-info-info">Full-time<span style="margin-right: 0.5rem; margin-left: 0.5rem;"><small>•</small></span> Starts:&nbsp;July 1, 2023</div>
                                            </div>
                                            <div class="workShop-text-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti sapiente modi eaque exercitationem! Aut</div>
                                        </div>
                                    </div>
                                </div>
                                
             </div>
            </div>
        </div>
    </div>
</div>  
</div>








<%- include("partials/footer"); -%>