* {
    box-sizing: border-box;
}

.titlepage h2 {
    font-size: 2.8rem;
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    color: #111111;
    padding: 0 0 10px 0;
    line-height: normal;
    margin: 0;
}

.top-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: rgb(37, 37, 37);
    display: flex;
    color: white;
    align-items: center;
    justify-content: end;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.testimonial {
    padding: 90px 0px 140px 0px;
    background: #fff;
}

.titlepage {
    text-align: center;
    padding-bottom: 60px;
}

.card-list-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px; /* Add some padding to the container */
}
.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Add some space between cards */
    max-width: 100%; /* Ensure cards fit within the container */
}
.card {
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}
.card-content {
    margin-bottom: 5px;
}
.card h2 {
    font-size: 28px;
    margin-bottom: 10px;
}
.card p {
    font-size: 16px;
    margin-bottom: 5px;
}
.phone-button {
    display: inline-block;
    background-color: #2B7E86;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3seconds;
}
.phone-button:hover {
    background-color: #69ff66;
}


.sign-btn{
    border-radius: 5px;
    padding: 10px;
    background-color: #b7202e;
    border: none;
    color: #fff;
    transition-duration: 0.4s;
    font-size: 1.2rem;
    cursor: pointer;
 }
 .sign-btn:hover{
     background-color: #ffffff00;
     border: 2px solid #b7202e;
 }
 .model{
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50% , -50%);
     transition: 500ms ease-in-out;
     border: 1px solid black;
     border-radius: 10px;
     z-index: 10;
     background-color: #363535; 
     width: 500px;
     max-width: 80%;
     color: #fff;
     display: none;
 }
 
 .model-header{
     padding: 10px 15px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     
 }
 
 .model-header .model-title{
     font-size: 1.5rem;
     margin-right: 44%;
     color: #fff;
 }
 .model-header .close-btn{
     cursor: pointer;
     border: none;
     background: none;
     outline: none;
     /* color: #fff; */
     font-size: 1.5rem;
     font-weight: bold;
     color: #fff;
 }
 .model-body{
     padding: 10px 15px;
 
 }
 .model-body  ul li {
     width: 50%;
     list-style-type: '*';
 }
 .model-body  ul img {
     width: 100px;
     position:absolute;
     margin-right: 95px;
     margin-top: -58px;
 }
 .popup-btn{
 border-radius: 5px;
    padding: 5px;
    display: inline-block;
    background-color: #b7202e;
    border: none;
    transition-duration: 0.4s;
    margin: auto;
    font-size: 21px;
    margin-bottom: 20px;
    color: #fff;
 }
 .popup-btn:hover{
     background-color: #ffffff00;
     border: 2px solid #b7202e;
 }
 .overlay{
     position: fixed;
     top: 0;
     right: 0;
     left: 0;
     bottom: 0;
     display: none;
     background-color: rgba(0, 0, 0);
     pointer-events: none;
     z-index: 5;
 }
#check{
    display: none;
}
.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 10px;
    cursor: pointer;
    display: none;
}
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: calc(1.5rem * 1.5);
    padding-left: calc(1.5rem * 1.5);
    margin-right: auto;
    margin-left: auto;
}
.logo-cont {
    display: flex;
     align-items: center;
}
.logo {
    margin: auto 15px;
    width: 50px;
}
.college-name{
    letter-spacing: 0.01em;
    word-spacing: 0.01em;
    position: relative;
    top: 6px;
}
@media screen and (max-width: 900px) {
    #header {
        padding-right: calc(1rem * 0.5);
        padding-left: calc(0.75rem * 0.5);
      }
    .logo-cont { 
        align-items: end;
    }
    .logo {
        width: 45px;
    }
    #header {
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .college-name {
        font-size: 13px;
        width: 50%;
    }
    .navItems {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #240303;
        top: 75px;
        left: -100%;
        text-align: center;
        opacity: 0;
        transition: all 0.5s;
        z-index: 10;
    }
    .navItems  a{
        color: white;
        font-size: 30px;
        font-weight: 600;
        text-decoration: none;
        display: block;
        margin: 40px 0;
        line-height: 30px;
    }
    .navItems .btn {
      display: inline-block;
      margin: 0 auto;
      padding: 10px;
    }
    #check{
        display: none;
    }
    #check:checked ~ .navItems{
        opacity: 1;
        left: 0;
    }
    body:has(#check:checked ~ .navItems){
        height: 100vh;
        overflow: hidden;
    }
    .checkbtn {
        display: block;
    }
}