<html lang="en" data-bs-theme="light">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Students info</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/album/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">




<style>
    .top-bar {
        width: 100%;
        height: 80px;
        background-color: rgb(37, 37, 37);
        display: flex;
        align-items: center;
        justify-content: end;
        padding: 0 20px;
        color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 10;
    }

      .b-example-divider {
        width: 100%;
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }
      .fw {
        font-size: 2rem;
        letter-spacing: 0;
        font-weight: 700;
        color: #111111;
        padding: 0 0 10px 0;
        line-height: normal;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }

      .bd-mode-toggle {
        z-index: 1500;
      }

      .bd-mode-toggle .dropdown-menu .active .bi {
        display: block !important;
      }
    </style>

    
  </head>
  <body>

    <div class="top-bar">
      <div class="container" style="display: flex; align-items: center; justify-content: space-between;">
          <div style="display: flex; align-items: center;">
              <a href="/" style="margin: auto 15px">
                  <img src="content/images/345832210_1468513350593187_453318926271352151_n-removebg.png" alt="cetz" width="50px">
              </a>
              <p class="college-name" style="letter-spacing: 0.01em; word-spacing: 0.01em; position: relative; top: 6px;">كلية التقنية الهندسية زوارة</p>
          </div>
          <div >
              <a href="/workshops" style="text-decoration: double; color: white; font-size: 24px; margin-right: 15px;">ورشات العمل</a>
              <a href="/students" style="text-decoration: double; color: white; font-size: 24px; margin-right: 15px;">الطلبة</a>
              <a href="/users" style="text-decoration: double; color: white; font-size: 24px; margin-right: 15px;">المشرفين</a>
          </div>
      </div>
    </div>

    


<main>

  <section class="py-3 text-center container">
    <div class="row pt-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw">أروى نجيب القندوز</h1>
        <h1 class="fw">الرقم الوطني : 200000000000</h1>
        <h1 class="fw">رقم الهاتف : 091000000</h1>
        <p>
          <a href="#" class="btn px-3 btn-danger my-2">حدف</a>
          <a href="#" class="btn px-3 btn-primary my-2">تعديل</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%"  src="content/images/arduino.jpg" role="img">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
                <small class="text-body-secondary">شهادة الميلاد</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%"  src="content/images/arduino.jpg" role="img">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
                <small class="text-body-secondary">الشهادة التانوية</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%"  src="content/images/arduino.jpg" role="img">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
                <small class="text-body-secondary">حسن السيرة والسولوك</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%"  src="content/images/arduino.jpg" role="img">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
                <small class="text-body-secondary">شهادة صحية</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%"  src="content/images/arduino.jpg" role="img">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
                <small class="text-body-secondary">شهادة الاقامة</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%"  src="content/images/arduino.jpg" role="img">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
                <small class="text-body-secondary">صورة شخصية</small>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</main>


<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>