<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>قسم الهندسة المدنية</title>

    
    <%- include("../partials/header"); -%>
  
    <section class="banner2">
        <div class="main-content-container2">
                <div class="banner-content2"> 
                    <div class="banner-rule2"></div>
                    <h1>الأقسام العلمية</h1>
                </div>
        </div>
        <div class="banner-gradient2"></div>
    </section>
    <div class="main-contant" dir="rtl">
        <div class="about-content-holder">
            <div class="index"><span class="trail-begin"><a href="/" title="the University" rel="home"> الرئيسية </a></span>
                <em class="sep"></em> <a href="/about" title="About">عن الكلية</a>
                <em class="sep"></em> <span class="trail-end">قسم الهندسة المدنية</span>
           </div>
           <div class="main-text">
                <h2 ><strong>   قسم الهندسة المدنية</strong></h2>
                <h3 ><strong>نبده عن القسم: </strong></h3>
        
            <!--
            // <p>جاء إنشاء هذا القسم ترجمة لرغبة الكلية في تدعيم سوق العمل النفطي بالكوادر المؤهلة في مجال هندسة النفط، ويعمل القسم على تقديم الخدمات التعليمية النظرية والعملية المدعمة باستخدام التقنيات المتطورة من برامج الحاسوب والزيارات الميدانية والإبحار في شبكة المعلومات للربط بين النظرية والتطبيقية ولمسات التطوير ذات الإيقاع السريع الذي أصبح يلازم الصناعة النفطية في العالم خلال العقود الأخيرة، فإن قسم هندسة النفط جعل من أولويات أهدافه صقل الطالب بأسس الهندسة النفطية. و تخريج كوادر من المهندسين المؤهلين للعمل في مجالات قطاع النفط والغاز التي يطلبها سوق العمل الليبي و الأجنبي داخل ليبيا ، و تزويد الطالب بالأمثلة و المشاكل وطرق تحديث و تطوير النظم النفطية في مجال صناعة و إنتاج النفط و الغاز و اعتماد اللغة الانجليزية كمبدأ أساسي إلي جانب اللغة الأم في تدريس المناهج نظراً لاعتبارها اللغة الرسمية التي تتعامل بها شركات النفط من حيث التقارير اليومية و الاستشارات الهندسية حيث أن الشركات الأجنبية التي تقدم الخدمات الهندسية والاستشارية للقطاع معظمها أجنبية و من جنسيات متعددة. كما يهدف القسم إلي ربط الطالب بالمجالات الأخرى التي أصبحت من متطلبات.
            </p>

                <h3 ><strong>أهداف القســــــم
:                </strong></h3>
                <ul>
                    <li>إعداد مهندسين في تخصصات هندسة النفط دوي كفاءة علمية عالية</li>
                    <li>القيام بالأبحاث والدارسات التي لها طابع تطبيقي في التخصصات تقنية هندسة النفط</li>
                    <li> تطوير التخصصات في القسم واستحداث تخصصات جديدة لربط المخرجات التعليمية بمتطلبات التنمية في المجتمع.</li>
                    <li> تطوير التخصصات في القسم واستحداث تخصصات جديدة لربط المخرجات التعليمية بمتطلبات التنمية في المجتمع.</li>
                    <li>تقديم الاستشارات الفنية والعلمية لسائر قطاعات المجتمع الحكومية والخاصة.</li>
                    <li>اقامة علاقات علمية مثمرة مع أقسام هندسة النفط في الكليات الاخرى على المستوي المحلي والخارجي.</li>
                </ul>
                
                <h2 ><strong> متطلبات القبول في القسم: </strong></h2>
                <ul>
                    <p>يتم توزيع الطلاب من القسم العام لقسم هندسة النفط حسب الرغبة وامكانيات القسم واحتياجات المجتمع على ان يجتاز الطالب المقررات التالية:</p>
                    <li>رياضيات </li>
                    <li>الفيزياء</li>
                    <li>الكيمياء العامة</li>
                    <li>اللغة الإنجليزية </li>
                </ul>
                <p>بتقدير لا يقل عن جيد، وعند تعذر توزيع الطلاب حسب الرغبة تجرى امتحانات للقبول والمفاضلة وتعطى الأولوية في تلبية الرغبات للطلاب المتميزين والمتفوقين علمياً ولا يجوز تنسيب الطالب من القسم العام إلى الأقسام التخصصية إذا تجاوز عدد الوحدات المتبقية له من القسم العام (12) اثنتا عشر وحدة دراسية فأكثر.
                </p>
        
                <h2 >المقررات الدراسية</h2>

                <h3> <center> الفصل الثاني </center>  </h3>

                <img class="subjects-img" src="content/the courses/oil/oil-dep-second-sem.jpg" alt="">

                <h3> <center> الفصل الثالث</center>  </h3>

                <img class="subjects-img" src="content/the courses/oil/oil-dep-third-sem.jpg" alt="">

                 <h3> <center> الفصل الرابع</center>  </h3>

                <img class="subjects-img" src="content/the courses/oil/oil-dep-fourth-sem.jpg" alt="">

                <h3> <center> الفصل الخامس </center>  </h3>

                <img class="subjects-img" src="content/the courses/oil/oil-dep-fifth-sem.jpg" alt="">

                 <h3> <center> الفصل السادس </center>  </h3>

                <img class="subjects-img" src="content/the courses/oil/oil-dep-sixth-sem.jpg" alt="">

                <h3> <center> الفصل السابع </center>  </h3>

                <img class="subjects-img" src="content/the courses/oil/oil-dep-seventh-sem.jpg" alt="">

                <h3> <center>الفصل الثامن </center>  </h3>

                <img class="subjects-img" src="content/the courses/oil/oil-dep-eighth-sem.jpg" alt="">

                <p> <strong> ملاحظة: مواضيع مختارة 1-2-3 هي عبارة عن ثمانية مواد يتم اختيارها وتوزيعها في كل فصل وبرؤية القسم وهذه المواد كالاتي: </strong></p>
                <ul>
                    <li>تصميم برمجيات واسعة النطاق</li>
                    <li>هندسة البرمجيات الموجهة</li>
                    <li>معمارية البرمجيات</li>
                    <li>نظم ذكية</li>
                    <li>نظم موزعة</li>
                    <li>الرسم بالحاسوب</li>
                    <li>الدعم الفني</li>
                    <li>برمجة تطبيقات الهواتف الذكية </li>

                </ul>
                
                
                -->

           </div>
        </div>


        <div class="sidebar">
            <ul>
                <div id="sidebar-nav">
                    <div class="title">
                        <a href="#title">الوصول السريع</a>
                    </div>
                    <ul>
                        <li class="page_item current_page_item">
                            <a href="/about">عن الكلية</a>
                        </li>
                        <li class="page_item">
                            <a href="/dean">كلمة عميد الكلية</a>
                        </li>
                        <li class="page_item">
                            <a href="/general">القسم العام</a>
                        </li>

                        <li class="page_item">
                            <a href="/computer">قسم هندسة الحاسوب</a>
                        </li>
                        <li class="page_item">
                            <a href="/communication">قسم الهندسة الكهربائية والإلكترونية </a>
                        </li>
                        <li class="page_item">
                            <a href="/oil"> قسم الهندسة النفطية</a>
                        </li>
                        <li class="page_item ">
                            <a href="/civil" onclick="return false;">قسم الهندسة المدنية</a>
                        </li>
                        <li class="page_item ">
                            <a href="/architecture">قسم الهندسة المعمارية</a>
                        </li>
                    </ul>
                </div>
            </ul>
        </div>


    </div>






    <%- include("../partials/footer"); -%>

