<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>قسم هندسة الحاسوب</title>

    
  <%- include("../partials/header"); -%>
  
    <section class="banner2">
        <div class="main-content-container2">
                <div class="banner-content2"> 
                    <div class="banner-rule2"></div>
                    <h1>الأقسام العلمية</h1>
                </div>
        </div>
        <div class="banner-gradient2"></div>
    </section>
    <div class="main-contant" dir="rtl">
        <div class="about-content-holder">
            <div class="index"><span class="trail-begin"><a href="/" title="the University" rel="home"> الرئيسية </a></span>
                <em class="sep"></em> <a href="/about" title="About">عن الكلية</a>
                <em class="sep"></em> <span class="trail-end">قسم هندسة الحاسوب</span>
           </div>
           <div class="main-text">
                <h2 ><strong> قسم هندسة الحاسوب</strong></h2>
                <h3 ><strong>نبده عن القسم: </strong></h3>
              <p>
                تم انشاء قسم تقنية الحاسوب منذ بداية تأسيس "المركز العالي للمهن الميكانيكية والكهربائية سابقاً" وذلك سنة 1997 وكانت الشُعب المتاحة في ذلك الوقت هي (شعبة البرمجة، وشعبة الصيانة) ومن ثم بعد ذلك صدر قرار في سنة 2010 ليتحول المركز العالي للمهن الميكانيكية والكهربائية إلى "كلية التقنية الهندسية زوارة" وتطورت الشُعب في نظام الكلية لتصبح(شعبة  الهندسية الأخرى ولكي يستمر القسم في التطوير ومتابعة المتطلبات الحديثة لسوق العمل الليبي والذي يحتاج إلى منظومات وتطوير برمجيات لسير العمل في أغلبية مؤسسات الدولة العامة والخاصة، وقد اعتمد القسم نظام البرامج حيث يتم التركيز في كل برنامج تخصصي مختلف كل فترة أو عدد من السنوات حيث يتم التركيز في كل برنامج على مجال معرفي محدد خلال تقديم عدد من المواد التخصصية في الفصول المتقدمة    (من الفصل الرابع إلى الفصل السابع) ويتم التركيز على وسائل الحلول المتكاملة لكي يتمكن الطالب من اكتساب المهارات اللازمة، ولتطوير المقررات والعملية المصممة لتهيئة الطلبة في هذا المجال وإعداد الطالب إعداداً مناسبا في مجال هندسة البرمجيات وتطويرها وتنمية قدراته في مجالات علمية أخرى ذات العلاقة ويقدم البرنامج المخرجات التالية :-
              </p>
              <ul>
                <li>تطبيق المعرفة الحاسوبية والرياضة المناسبة لمجال التخصص.</li>
                <li>تحليل المسألة وتحديد المتطلبات الحاسوبية المناسبة للحل.</li>
                <li>المشاركة الفعالة في فرق العمل لإنجاز هدف مشترك.</li>
                <li>الاتصال بفعالية مع عدد من المستفيدين.</li>
                <li>تحليل التأثير المحلي والعالمي للحوسبة على الأفراد والمنظمات والمجتمعات.</li>
                <li>إدراك الحاجة والقدرة على المشاركة في التطوير المهني المستمر.</li>
                <li>استخدام التقنيات والمهارات والأدوات اللازمة لتطبيقات الحاسوب.</li>
              </ul>

                <h3 ><strong>أهداف القســــــم
:                </strong></h3>
                <ul>
                    <li>إعداد مهندسين في تخصصات هندسة الحاسوب دوي كفاءة علمية عالية.</li>
                    <li>القيام بالأبحاث والدارسات التي لها طابع تطبيقي في التخصصات تقنية هندسة الحاسوب.</li>
                    <li>تطوير التخصصات في القسم واستحداث تخصصات جديدة لربط المخرجات التعليمية بمتطلبات التنمية في المجتمع.</li>
                    <li>المشاركة في الندوات والمؤتمرات العلمية على مستوى المحلي والدولي لتعزيز الكفاءة العلمية لكوادر القسم.</li>
                    <li>تقديم الاستشارات الفنية والعلمية لسائر قطاعات المجتمع الحكومية والخاصة.</li>
                    <li>اقامة علاقات علمية مثمرة مع أقسام هندسة الحاسوب في الكليات الاخرى على المستوي المحلي والخارجي.</li>
                </ul>
                
                <h2 ><strong> متطلبات القبول في القسم: </strong></h2>
                <ul>
                    <p>يتم توزيع الطلاب من القسم العام للأقسام التخصصية حسب رغبة الطالب أولاً وإمكانيات القسم والمجتمع ثانياً على أن يجتاز الطالب المقررات التالية: </p>
                    <li>رياضيات</li>
                    <li>الحاسب الآلي</li>
                    <li>اللغة الإنجليزية </li>
                </ul>
                <p>بتقدير لا يقل عن جيد، وعند تعذر توزيع الطلاب حسب الرغبة تجرى امتحانات للقبول والمفاضلة وتعطى الأولوية في تلبية الرغبات للطلاب المتميزين والمتفوقين علمياً ولا يجوز تنسيب الطالب من القسم العام إلى الأقسام التخصصية إذا تجاوز عدد الوحدات المتبقية له من القسم العام (12) اثنتا عشر وحدة دراسية فأكثر.
                </p>
        
                <h2 >المقررات الدراسية</h2>
                <p>نظرة القسم الحالية واحتياج المجتمع بنظره هو (هندسة البرمجيات) لما في هذا التخصص من شمولية في دراسة كل من (البرمجة والصيانة والشبكات) ومقررات الشعبة كالآتي:
                </p>

                <h3> <center> الفصل الثاني (عام لقسم تقنية الحاسوب) </center>  </h3>

                <img class="subjects-img" src="content/the courses/cumputer/cump-dep-second-sem.jpg" alt="">

                <h3> <center> الفصل الثالث (شعبة هندسة البرمجيات)</center>  </h3>

                <img class="subjects-img" src="content/the courses/cumputer/cump-dep-third-sem.jpg" alt="">

                 <h3> <center> الفصل الرابع (شعبة هندسة البرمجيات)</center>  </h3>

                <img class="subjects-img" src="content/the courses/cumputer/cump-dep-fourth-sem.jpg" alt="">

                <h3> <center> الفصل الخامس (شعبة هندسة البرمجيات) </center>  </h3>

                <img class="subjects-img" src="content/the courses/cumputer/cump-dep-fifth-sem.jpg" alt="">

                 <h3> <center> الفصل السادس (شعبة هندسة البرمجيات)</center>  </h3>

                <img class="subjects-img" src="content/New folder/cump-dep-third-sem.jpg" alt="">

                <h3> <center> الفصل السابع (شعبة هندسة البرمجيات) </center>  </h3>

                <img class="subjects-img" src="content/New folder/cump-dep-third-sem.jpg" alt="">

                <h3> <center>الفصل الثامن (شعبة هندسة البرمجيات)</center>  </h3>

                <img class="subjects-img" src="content/the courses/cumputer/cump-dep-eighth-sem.jpg" alt="">

                <p> <strong> ملاحظة: مواضيع مختارة 1-2-3 هي عبارة عن ثمانية مواد يتم اختيارها وتوزيعها في كل فصل وبرؤية القسم وهذه المواد كالاتي: </strong></p>
                <ul>
                    <li>تصميم برمجيات واسعة النطاق</li>
                    <li>هندسة البرمجيات الموجهة</li>
                    <li>معمارية البرمجيات</li>
                    <li>نظم ذكية</li>
                    <li>نظم موزعة</li>
                    <li>الرسم بالحاسوب</li>
                    <li>الدعم الفني</li>
                    <li>برمجة تطبيقات الهواتف الذكية </li>

                </ul>
                
                
                

           </div>
        </div>


        <div class="sidebar">
            <ul>
                <div id="sidebar-nav">
                    <div class="title">
                        <a href="#title">الوصول السريع</a>
                    </div>
                    <ul>
                        <li class="page_item current_page_item">
                            <a href="/about">عن الكلية</a>
                        </li>
                        <li class="page_item">
                            <a href="/dean">كلمة عميد الكلية</a>
                        </li>
                        <li class="page_item">
                            <a href="/general">القسم العام</a>
                        </li>

                        <li class="page_item">
                            <a href="/computer"  onclick="return false;">قسم هندسة الحاسوب</a>
                        </li>
                        <li class="page_item">
                            <a href="/communication">قسم الهندسة الكهربائية والإلكترونية </a>
                        </li>
                        <li class="page_item">
                            <a href="/oil"> قسم الهندسة النفطية</a>
                        </li>
                        <li class="page_item ">
                            <a href="/civil">قسم الهندسة المدنية</a>
                        </li>
                        <li class="page_item ">
                            <a href="/architecture">قسم الهندسة المعمارية</a>
                        </li>
                    </ul>
                </div>
            </ul>
        </div>


    </div>







    <%- include("../partials/footer"); -%>
