<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>القسم العام</title>


    
    <%- include("../partials/header"); -%>
  
    <section class="banner2">
        <div class="main-content-container2">
                <div class="banner-content2"> 
                    <div class="banner-rule2"></div>
                    <h1>الأقسام العلمية</h1>
                </div>
        </div>
        <div class="banner-gradient2"></div>
    </section>
    <div class="main-contant" dir="rtl">
        <div class="about-content-holder">
            <div class="index"><span class="trail-begin"><a href="/" title="the University" rel="home"> الرئيسية </a></span>
                <em class="sep"></em> <a href="/about" title="About">عن الكلية</a>
                <em class="sep"></em> <span class="trail-end">القسم العام</span>
           </div>
           <div class="main-text">
                <h2 ><strong>القسم العام</strong></h2>
                    <p>تم انشاء القسم العام سنة خريف 2015 وهو المرحلــة التي يدرس فيها الطالــب المقــررات التي لا تدخل ضمن التخصص الأساسي للطالب ولكنها ضمن متطلبات القسم للحصول على الدرجة العلمية
                    </p>

                <h3 ><strong>الرؤية والرسالة والأهداف
                    :</strong></h3>
                <ul>
                    <li><strong>الرؤيـــــة : </strong></li>
                    <p>نسعى للوصول بطلاب الكلية إلى درجة عالية من التميز والاستعداد للدراسة الأكاديمية والوصول إلى أعلى المعايير والمستويات من النجاح في مسيرتهم التعليمية من المراحل الأولى من التعليم الجامعي.
                </p>
                    <li > <strong>الرســالة: </strong></li>
                    <p>أعداد الطلاب لتحقيق تحصيل دراسي متميز وذلك عبر برامج دراسية مكثفة ذات جودة أكاديمية عالية وفق أُسس، ومعايير التعلم الحديثة.
                    </p>
                    <li > <strong>الأهداف: </strong></li>
                    <li>تعزيز معارف الطلاب الأساسية في اللغة الإنجليزية، الرياضيات والعلوم الأساسية التي يحتاجها الطلاب في تخصصاهم المستقبلية.</li>
                    <li>تحقيق مبدأ التنافس بين الطلاب وتحديد نظام التخصص بالمفاضلة</li>
                    <li>دعم طموح الطالب في التفوق الأكاديمي</li>
                    <li>مساعدة الطالب على الاندماج في مجتمع الكلية والمشاركة الفعالة في الأنشطة الثقافية والاجتماعية </li>
                    <li>تحسين الأداء وترشيد التخصصات</li>
                    <li>ترسيخ مبادئ الانضباط والالتزام والشعور بالمسؤولية</li>
                </ul>
                
                <h2 ><strong> متطلبات القبول في القسم: </strong></h2>
                <ul>
                    <p>ضوابط إجراءات القبول بالقسم العام تحدد اللجنة العلمية للجامعة القدرة الاستيعابية للكلية وفق الضوابط المحددة من قبل وزارة التعليم وإدارة الجامعة. ويعتمد القبول في القسم العام على المفاضلة بين الطلاب على المقاعد المتوفرة لاستقطاب الطلاب المتميزين بعد توفر شروط القبول لديهم. هذا ويتم القبول مرتين في السنة ، ويبدأ القبول بتقديم المستندات لقسم التسجيل وينتهي بمراجعة الطالب لقسم التسجيل في اليوم المحدد</p>
                    <h4>الوثائق المطلوبة:</h4>
                    <li>استمارة الشهادة الثانوية </li>
                    <li>حسن سيرة وسلوك</li>
                    <li>شهادة صحية</li>
                    <li> الرقم الوطني</li>
                    <li>شهادة ميلاد </li>
                    <li> شهادة أقامه </li>
                    <li>4 صور شخصية</li>
                    <li>عدد 3 ملف لحفظ الأوراق</li>
                </ul>
        
                <h2 >المقررات الدراسية</h2>
                <p>يشتمل القسم العام على فصل واحد على الطالب اجتياز 18 وحدة دراسية، يطبق برنامج القسم العام على جميع الطلاب المقبولين على مسارات الكليات. على أن يجتاز الطالب جميع المقررات الدراسية المحددة له في خطته بنجاح، وتمثل السنة التحضيرية السنة الأولى من سنوات الخطة الدراسية لكافة الأقسام العلمية بالكلية. كما أن المعدل التراكمي الذي يحصل عليه الطالب في نهاية السنة التحضيرية يحسب في المعدل التراكمي العام للطالب في الأقسام التي يلتحق بها
                    </p>

                <h3> <center> الفصل الأول</center>  </h3>

                <img class="subjects-img" src="content/the courses/general/firs-dep-first-sem.jpg" alt="">
                
           </div>
        </div>

        <div class="sidebar">
            <ul>
                <div id="sidebar-nav">
                    <div class="title">
                        <a href="#title">الوصول السريع</a>
                    </div>
                    <ul>
                        <li class="page_item current_page_item">
                            <a href="/about">عن الكلية</a>
                        </li>
                        <li class="page_item">
                            <a href="/dean">كلمة عميد الكلية</a>
                        </li>
                        <li class="page_item">
                            <a href="/general"  onclick="return false;">القسم العام</a>
                        </li>

                        <li class="page_item">
                            <a href="/computer">قسم هندسة الحاسوب</a>
                        </li>
                        <li class="page_item">
                            <a href="/communication">قسم الهندسة الكهربائية والإلكترونية </a>
                        </li>
                        <li class="page_item">
                            <a href="/oil"> قسم الهندسة النفطية</a>
                        </li>
                        <li class="page_item ">
                            <a href="/civil">قسم الهندسة المدنية</a>
                        </li>
                        <li class="page_item ">
                            <a href="/architecture">قسم الهندسة المعمارية</a>
                        </li>
                    </ul>
                </div>
            </ul>
        </div>

    </div>






    <%- include("../partials/footer"); -%>

