<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>قسم الهندسة المعمارية</title>

    
    <%- include("../partials/header"); -%>
  


    <div class="container" style="margin: 100px auto 150px;" id="NEWS">
      
        <div class="row text-center">
            <h1 class="display-3 ">  اسم الخبر </h1>
            <div class="heading-line"></div>
            <p class="lead my-5">
                </p>
          </div>

                    <div class="card shadow-sm">
                      <img class="bd-placeholder-img card-img-top news-image" src="content/images/main_back_froung.jpg">
                      <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint provident, mollitia itaque perspiciatis error perferendis distinctio saepe illum numquam?</p>
                        <div class="d-flex justify-content-end align-items-center">

                          <small class="text-body-secondary">2024 : 1 : 1</small>
                        </div>
                      </div>
                    </div>

          
    </div>









    <%- include("../partials/footer"); -%>

